<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <load href="__PUBLIC__/Home/Css/home_head.css" />
    <load href="__PUBLIC__/Home/Css/home_page.css"  />
    <load href="__PUBLIC__/Home/Js/head_bottom.js" />
    <load href="__PUBLIC__/Home/Js/show_pictures_14.js" />
    <load href="__PUBLIC__/Home/Js/show_up_roll_pictures.js" />
    <load href="__PUBLIC__/Home/Js/resize_picture.js" />
   </head>
<body>
<div id="head_up">
    <table width="86%" border="0" cellspacing="0" cellpadding="0" >
        <tr>
            <td width="8%" rowspan="2"></td>
            <td width="20%" rowspan="2" align="left"><img src="__PUBLIC__/Home/Images/login_06.png" alt="" width="400" height="200" onload="AutoResizeImage(400,200,this)" /></td>
            <td width="30%"  valign="center" style="padding-top:25px;"><img src="__PUBLIC__/Home/Images/合力共建.jpg" alt="" width="400" height="200" onload="AutoResizeImage(400,200,this)" /></td>
            <td width="14%" align="right" class="helpcenter">帮助中心</td>
            <td width="9%" align="center" class="helpcenter">联系客服</td>
            <!-- <td width="6%" align="right"><form id="form1" name="form1" method="post" action="">
              <input type="image" name="imageField" id="imageField" src="images/logining-button.png" />
            </form></td>
            <td width="8%" align="center"><form id="form2" name="form2" method="post" action="">
              <input type="image" name="imageField2" id="imageField2" src="images/register-button.png" />
            </form></td> 待开发-->
        </tr>
    </table>
</div>
<div id="head" style="background-color: #FFF; clear: both;">
    <?php
	include('head.html');
   ?>
    <div id="head_center1">
        <table width="86%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><table width="100%" border="0" align="center"cellpadding="0" cellspacing="0">
                    <tr valign="bottom">
                        <td align="center">|</td>
                        <td align="center" class="blue" onmouseover="showsub(1);"><a style="color:inherit;" href="index.php">主页</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(2);"><a style="color:inherit;" href="news.php">新闻</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(3);"><a style="color:inherit;" href="city.php">城市</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(4);"><a style="color:inherit;" href="inscription.php">申遗</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(5);"><a style="color:inherit;" href="culture.php">文化</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(6);"><a style="color:inherit;" href="travel.php">旅游</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(7);"><a style="color:inherit;" href="brand.php">品牌</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(8);"><a style="color:inherit;" href="academic.php">学术</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(9);"><a style="color:inherit;" href="javascript:alert('该栏目正在筹备建设中，敬请期待！');return false;">教育</a></td>
                        <!-- <a style="color:inherit;" href="education.php">教育</a></td> -->
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(10);"><a style="color:inherit;" href="classic.php">典藏</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(11);">
                            <a style="color:inherit;" href="javascript:alert('该栏目正在筹备建设中，敬请期待！');return false;">活动</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(12);"><a style="color:inherit;" href="javascript:alert('该栏目正在筹备建设中，敬请期待！');return false;">论坛</a></td>
                        <td align="center">|</td>
                    </tr>
                </table></td>
            </tr>
        </table>
    </div>
    <div id="head_center2">
        <table width="86%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><table width="100%" border="0" align="center"cellpadding="0" cellspacing="0">
                    <tr valign="bottom">
                        <td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="1"><img src="__PUBLIC__/Home/Images/bracket.jpg" width="30" height="27" /></td>
                        <td width="8%" align="center" id="2"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="3"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="4"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="5"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="6"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="7"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="8"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="9"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="10"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="11"></td><td align="center">&nbsp;</td>
                        <td width="8%" align="center" id="12"></td><td align="center">&nbsp;</td>
                    </tr>
                </table></td>
            </tr>
        </table></div>
    <div id="head_bottom">
    </div>
</div>
</body>
</html>