<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <load href="__PUBLIC__/Home/Css/news.css"/>
    <load href="__PUBLIC__/Home/Css/css.css"/>
</head>
<body>
<div class="wrap_box">
<div class="wrap">
    <div class="left_box">
        <div class="banner"><a href="?"><img border="0" src="__PUBLIC__/<{$news_pic[0]['imgpath']}>" width="802" height="451"></a></div>
    </div>
    <div class="right_box">
        <div class="right_con" style="height:450px;">
            <h2 class="pubtit "><a href="__APP__/Home/News/news_picture.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">新&nbsp;&nbsp;闻</strong></h2>
            <dl class="r_news_dl1">
                <dt>
                <h3><a href="#"><{$list1[0]['title']}></a></h3></dt>
                <dd><p>
                    <{$list1[0]['abstract']}></p></dd>
            </dl>
            <dl class="r_news_dl1">
                <dt>
                <h3><a href="#"><{$list1[1]['title']}></a></h3></dt>
                <dd><p>
                    <{$list1[1]['abstract']}></p></dd>
            </dl>
            <dl class="r_news_dl1">
                <dt>
                <h3><a href="#"><{$list1[2]['title']}></a></h3></dt>
                <dd><p>
                    <{$list1[2]['abstract']}></p></dd>
            </dl>
        </div>
    </div>

    <div class="height20"></div>

    <div class="chengshi_left_box_con">
        <div class="chengshi_left_box_con1 fl" >
            <h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/News/news_active.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">动态新闻</strong>
            </h2>

            <div class="clearfloat"></div>
            <dl class="chengshi_dl">
                <dt>
                <h3><a href="#"><{$list1[0]['title']}></a></h3> </dt>
                <dd><{$list1[0]['abstract']}></dd>
            </dl>
            <dl class="chengshi_dl">
                <dt>
                <h3><a href="#"><{$list1[1]['title']}></a></h3> </dt>
                <dd><{$list1[1]['abstract']}></dd>
            </dl>
            <dl class="chengshi_dl">
                <dt>
                <h3><a href="#"><{$list1[2]['title']}></a></h3> </dt>
                <dd><{$list1[2]['abstract']}></dd>
            </dl>
        </div>
        <div class="pp_rightsidecon pp_border">
            <h2 class="pubtit"><strong class="f1485a3">链接</strong></h2>
            <ul class="news_ul1">
                <li><a href="#">1.日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
                <li><a href="#">2.南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
                <li><a href="#">3.南旺枢纽为第二批国家考古遗址公园；临淄齐国故城、</a></li>
                <li><a href="#">4.城子崖为第二批国家考古遗址公园立项名单</a></li>
                <li><a href="#">5.日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
                <li><a href="#">6.南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
                <li><a href="#">7.城子崖为第二批国家考古遗址公园立项名单</a></li>
                <li><a href="#">8.日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
                <li><a href="#">5.日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
                <li><a href="#">6.南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
                <li><a href="#">7.城子崖为第二批国家考古遗址公园立项名单</a></li>
                <li><a href="#">8.日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
                <li><a href="#">9.日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
            </ul>
        </div>

    </div>
    <div class="height20"></div>
    <div class="chengshi_left_box_con">
        <ul class="chengshi_gonglv_ul">
            <li><a href="#"><img src="__PUBLIC__/Home/Images/news/gg-1.jpg"></a></li>
            <li><a href="#"><img src="__PUBLIC__/Home/Images/news/gg-2.jpg"></a></li>
            <li><a href="#"><img src="__PUBLIC__/Home/Images/news/gg-3.jpg"></a></li>
        </ul>
    </div>
    <div class="height20"></div>
</div>
</div>

</body>
</html>