<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <load href="__PUBLIC__/Home/Css/news.css"/>
    <load href="__PUBLIC__/Home/Css/css.css"/>
</head>
<body>
<div class="wrap_box">
<div class="wrap">
    <div class="left_box">

        <div class="banner"><a href="__APP__/Home/News/third_active/id/<{$list1[0].id}>"><img border="0" src="__PUBLIC__/<{$list1[0]['imgpath']}>" width="802" height="451"></a></div>
    </div>
    <div class="right_box">
        <div class="right_con" style="height:450px;">
            <h2 class="pubtit "><strong class="f1485a3">微说运河</strong></h2>
            <foreach name="news_wechat" item="vo">
                <div class="r_news_dl1" style="height:120px;overflow: hidden;margin-top: -5px">
                    <dt>
                    <h3><a href="__APP__/Home/News/third_wechat/id/<{$vo.id}>"><{$vo.title}></a></h3></dt>
                    <dd><p style="text-indent: 2em"><{$vo.abstract}></p></dd>
                </div>
            </foreach>
        </div>

    </div>

    <div class="height20"></div>

    <div class="chengshi_left_box_con">
        <div class="chengshi_left_box_con1 fl" >
            <h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/News/news_active.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">动态新闻</strong>
            </h2>

            <div class="clearfloat"></div>
            <dl class="chengshi_dl">
                <dt>
                <h3><a href="__APP__/Home/News/third_active/id/<{$list1[0].id}>"><{$list1[0]['title']}></a></h3> </dt>
                <dd><{$list1[0]['abstract']}><a href="__APP__/Home/News/third_active/id/<{$list1[0].id}>" style="color: #0066cc">...详细&gt;&gt;</a></dd>
            </dl>
            <dl class="chengshi_dl">
                <dt>
                <h3><a href="__APP__/Home/News/third_active/id/<{$list1[1].id}>"><{$list1[1]['title']}></a></h3> </dt>
                <dd><{$list1[1]['abstract']}><a href="__APP__/Home/News/third_active/id/<{$list1[1].id}>" style="color: #0066cc">...详细&gt;&gt;</a></dd>
            </dl>
            <dl class="chengshi_dl">
                <dt>
                <h3><a href="__APP__/Home/News/third_active/id/<{$list1[2].id}>"><{$list1[2]['title']}></a></h3> </dt>
                <dd><{$list1[2]['abstract']}><a href="__APP__/Home/News/third_active/id/<{$list1[2].id}>" style="color: #0066cc">...详细&gt;&gt;</a></dd>
            </dl>
        </div>
        <div class="pp_rightsidecon pp_border">
            <h2 class="pubtit"><strong class="f1485a3">链接</strong></h2>
            <ul class="news_ul1">
                <volist name="list1" id="list" offset="0" length="10">
                    <li><a href="__APP__/Home/News/third_active/id/<{$list.id}>">· <{$list.title}></a></li>
                </volist>
            </ul>
        </div>

    </div>
    <div class="height20"></div>
    <div class="chengshi_left_box_con">
        <ul class="chengshi_gonglv_ul">
            <li><a href="#"><img src="__PUBLIC__/Home/Images/home/guang/1.jpg"></a></li>
            <li><a href="#"><img src="__PUBLIC__/Home/Images/home/guang/2.jpg"></a></li>
            <li><a href="#"><img src="__PUBLIC__/Home/Images/home/guang/3.jpg"></a></li>
        </ul>
    </div>
    <div class="height20"></div>
</div>
</div>

</body>
</html>