<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<META name="keywords" content="中国运河网">
<meta name="description" content="中国运河网">
<title>中国运河网</title>
	<load href="__PUBLIC__/Home/Css/css3.css"/>

</head>
<body>
	<div class="wrap_box">
 		<div class="wrap">
 			<div class="left_box">
 				<div class="left_box_con">
 					<div class="left_box_con1 fl">
 						<h2 class="pubtit" style="margin:0px 0;"><strong class="f1485a3">市场</strong></h2>
 						<ul class="pic_con1">
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[0].imgpath}>" ></a><p><{$classic_market[0].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[1].imgpath}>" ></a><p><{$classic_market[1].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[2].imgpath}>" ></a><p><{$classic_market[2].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[3].imgpath}>" ></a><p><{$classic_market[3].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[4].imgpath}>" ></a><p><{$classic_market[4].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[5].imgpath}>" ></a><p><{$classic_market[5].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[6].imgpath}>" ></a><p><{$classic_market[6].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[7].imgpath}>" ></a><p><{$classic_market[7].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[8].imgpath}>" ></a><p><{$classic_market[8].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[9].imgpath}>" ></a><p><{$classic_market[9].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[10].imgpath}>" ></a><p><{$classic_market[10].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[11].imgpath}>" ></a><p><{$classic_market[11].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[12].imgpath}>" ></a><p><{$classic_market[12].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[13].imgpath}>" ></a><p><{$classic_market[13].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[14].imgpath}>" ></a><p><{$classic_market[14].title}></p></li>-->
							<!--<li><a href=""><img src="__PUBLIC__/<{$classic_market[15].imgpath}>" ></a><p><{$classic_market[15].title}></p></li>-->

							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[0].workspath}>" ></a><p><{$classic_legend[0].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[1].workspath}>" ></a><p><{$classic_legend[1].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[2].workspath}>" ></a><p><{$classic_legend[2].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[3].workspath}>" ></a><p><{$classic_legend[3].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[4].workspath}>" ></a><p><{$classic_legend[4].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[5].workspath}>" ></a><p><{$classic_legend[5].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[6].workspath}>" ></a><p><{$classic_legend[6].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[7].workspath}>" ></a><p><{$classic_legend[7].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[8].workspath}>" ></a><p><{$classic_legend[8].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[9].workspath}>" ></a><p><{$classic_legend[9].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[10].workspath}>" ></a><p><{$classic_legend[10].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[11].workspath}>" ></a><p><{$classic_legend[11].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[12].workspath}>" ></a><p><{$classic_legend[12].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[13].workspath}>" ></a><p><{$classic_legend[13].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[14].workspath}>" ></a><p><{$classic_legend[14].title}></p></li>
							<li><a href=""><img src="__PUBLIC__/<{$classic_legend[15].workspath}>" ></a><p><{$classic_legend[15].title}></p></li>


						</ul>
 						<div class="clearfloat"></div>
 						
 						
 					</div>
 			
 				</div>
 				<div class="height20"></div>
                <div class="box">
 				<dl class="dl">
                <d><a href="?">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 下一页</a></d> </dl>	</div>
 			
                
                
                
 			</div>
 			
 			
 			<div class="lvyou_right_box">
            
 				 <dl class="lvyou_dl">
                 <h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">相关连接/广告栏</strong></h2>
 							<dt>·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
						    ·标题性或主题性文字标题性或主题性文字标题性</dt>
 				 </dl>
				<br />
 				<div class="height20"></div>
               
			  <dl class="lvyou_dl2">
                  <h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">相关连接/广告栏</strong></h2>
 							<dt>·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
 							  ·标题性或主题性文字标题性或主题性文字标题性<br />
						    ·标题性或主题性文字标题性或主题性文字标题性</dt></dl>
 			</div>
 			<div class="height20"></div>
 			
 			
 			
		</div>
		<div class="height20"></div>
	</div>
</body>
</html>