<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<load href="__PUBLIC__/Home/Css/dgmuseum.css"/>
	<load href="__PUBLIC__/Home/Css/css.css"/>
</head>
<body>

<div class="wrap_box">
	<div class="wrap">
		<div class="szmsg_left_box">
			<div class="szmsg_left_box_con">
				<h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Dgmuseum/classic_legend.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">传奇</strong></h2>
				<div class="szmsg_pic1"><a href="__APP__/Home/Dgmuseum/third_legend/id/<{$classic_legend[0].id}>"><img border="0" src="__PUBLIC__/<{$classic_legend[0].workspath}>" width="379" height="483"></a></div>

				<p><a href="__APP__/Home/Dgmuseum/third_legend/id/<{$classic_legend[1].id}>"><img border="0" src="__PUBLIC__/<{$classic_legend[1].workspath}>" width="379" height="241"></a></p>
				<p style="padding:3px 0 0 0;"><a href="__APP__/Home/Dgmuseum/third_legend/id/<{$classic_legend[2].id}>"><img border="0" src="__PUBLIC__/<{$classic_legend[2].workspath}>" width="379" height="241"></a></p>

			</div>
			<div class="height20"></div>
			<div class="szmsg_left_box_con">
				<div class="szmsg_left_box_con1 fl">
					<h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Dgmuseum/classic_market.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">市场</strong></h2>
					<ul class="lv_pic_con1">
						<li><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[1].id}>"><img src="__PUBLIC__/<{$classic_market[1].imgpath}>"></a>
							<p><{$classic_market[1].title}></p></li>
						<li><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[2].id}>"><img src="__PUBLIC__/<{$classic_market[2].imgpath}>"></a>
							<p><{$classic_market[2].title}></p></li>
						<li><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[3].id}>"><img src="__PUBLIC__/<{$classic_market[3].imgpath}>"></a>
							<p><{$classic_market[3].title}></p></li>
					</ul>
					<div class="clearfloat"></div>
					<dl class="lvyou_dl">
						<dt><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[1].id}>"><{$classic_market[1].title}></a></dt>
						<dd><{$classic_market[1].content}><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[1].id}>" style="color: #0066cc">
							...详细&gt;&gt;</a></dd>
					</dl>
					<dl class="lvyou_dl">
						<dt><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[2].id}>"><{$classic_market[2].title}></a></dt>
						<dd><{$classic_market[2].content}><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[2].id}>" style="color: #0066cc">
							...详细&gt;&gt;</a></dd>
					</dl>
					<dl class="lvyou_dl">
						<dt><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[3].id}>"><{$classic_market[3].title}></a></dt>
						<dd><{$classic_market[3].content}><a href="__APP__/Home/Dgmuseum/third_market/id/<{$classic_market[3].id}>" style="color: #0066cc">
							...详细&gt;&gt;</a></dd>
					</dl>

				</div>
				<div class="lvyou_left_box_con1 fr">
					<h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Dgmuseum/classic_group.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">艺术群</strong></h2>
					<div class="lvyou_3p_box">
						<ul>
							<li><a href="__APP__/Home/Dgmuseum/third_group/id/<{$classic_group[1].id}>"><img border="0" src="__PUBLIC__/<{$classic_group[1].imgpath}>"></a></li>
							<li><a href="__APP__/Home/Dgmuseum/third_group/id/<{$classic_group[2].id}>"><img border="0" src="__PUBLIC__/<{$classic_group[2].imgpath}>"></a></li>
						</ul>
						<div class="lvyou_3p_box_r"><a href="__APP__/Home/Dgmuseum/third_group/id/<{$classic_group[0].id}>"><img border="0" src="__PUBLIC__/<{$classic_group[0].imgpath}>"></a>
						</div>
					</div>
					<div class="clearfloat"></div>
					<p><{$classic_group[0].content}><a href="__APP__/Home/Dgmuseum/third_group/id/<{$classic_group[0].id}>" style="color: #0066cc">
						...详细&gt;&gt;</a></p>

					<p><{$classic_group[1].content}><a href="__APP__/Home/Dgmuseum/third_group/id/<{$classic_group[1].id}>" style="color: #0066cc">
						...详细&gt;&gt;</a></p>

					<p><{$classic_group[2].content}><a href="__APP__/Home/Dgmuseum/third_group/id/<{$classic_group[2].id}>" style="color: #0066cc">
						...详细&gt;&gt;</a></p>
				</div>
			</div>
			<div class="height20"></div>
			<div class="siyi_left_box_con">
				<h2 class="pubtit" style="margin:5px 0;"><a href="__APP__/Home/Dgmuseum/classic_comment.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">
					评论</strong></h2>
				<ul class="sy_pic_ul">
					<li><a href="__APP__/Home/Dgmuseum/third_comment/id/<{$classic_comment[0].id}>"><img src="__PUBLIC__/<{$classic_comment[0].imgpath}>"></a></li>
					<li><a href="__APP__/Home/Dgmuseum/third_comment/id/<{$classic_comment[0].id}>"><img src="__PUBLIC__/<{$classic_comment[0].workspath}>"></a></li>
					<li><a href="__APP__/Home/Dgmuseum/third_comment/id/<{$classic_comment[1].id}>"><img src="__PUBLIC__/<{$classic_comment[1].imgpath}>"></a></li>
					<li><a href="__APP__/Home/Dgmuseum/third_comment/id/<{$classic_comment[1].id}>"><img src="__PUBLIC__/<{$classic_comment[1].workspath}>"></a></li>
				</ul>
				<div class="height10"></div>
				<p style="line-height: 2"><{$classic_comment[0].content}><a href="__APP__/Home/Dgmuseum/third_comment/id/<{$classic_comment[0].id}>" style="color: #0066cc;">
					...详细&gt;&gt;</a>
				</p>

				<div class="height10"></div>
			</div>
			<div class="height20"></div>
		</div>


		<div class="siyi_right_box">
			<div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/syp7.jpg"></a>
			</div>
			<div class="height10"></div>
			<div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/syp7.jpg"></a>
			</div>
		</div>
		<div class="height20"></div>


	</div>
	<div class="height20"></div>
</div>

</body>
</html>