<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1200">
	<META name="keywords" content="中国运河网">
	<meta name="description" content="中国运河网">
	<title>中国运河网</title>
	<load href="__PUBLIC__/Home/Css/dgmuseum.css"/>
	<load href="__PUBLIC__/Home/Css/css.css"/>

</head>
<body>

	<div class="wrap_box">
 		<div class="wrap">
 			<div class="szmsg_left_box">
 				<div class="szmsg_left_box_con">
 					<h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">传奇</strong></h2>
 					<div class="szmsg_pic1"><a href="?"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p1.jpg" width="379" height="483"></a></div>
 					<p><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p2.jpg"></a></p>
 					<p style="padding:3px 0 0 0;"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p3.jpg"></a></p>
 				</div>
 				<div class="height20"></div>
 				<div class="szmsg_left_box_con">
 					<div class="szmsg_left_box_con1 fl">
 						<h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">市场</strong></h2>
 						<ul class="lv_pic_con1">
 							<li><a href=""><img src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p4.jpg" ></a><p>作品名</p></li>
 							<li><a href=""><img src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p4.jpg" ></a><p>作品名</p></li>
 							<li><a href=""><img src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p4.jpg"></a><p>作品名.</p></li>
 						</ul>
 						<div class="clearfloat"></div>
 						<dl class="lvyou_dl">
 							<dt>作品名</dt>
 							<dd>作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍……</dd>
 						</dl>
 						<dl class="lvyou_dl">
 							<dt>作品名</dt>
 							<dd>作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍……</dd>
 						</dl>
 						<dl class="lvyou_dl">
 							<dt>作品名</dt>
 							<dd>作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍……</dd>
 						</dl>

 					</div>
 					<div class="lvyou_left_box_con1 fr">
 						<h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">艺术群</strong></h2>
 						<div class="lvyou_3p_box">
 							<ul>
 								<li><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p5.jpg"></a></li>
 								<li><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p6.jpg"></a></li>
 							</ul>
 							<div class="lvyou_3p_box_r"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/sjmsg_p7.jpg"></a></div>
 						</div>
 						<div class="clearfloat"></div>
 						<p>艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名</p>
						<p>艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名</p>
						<p>艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名艺术家姓名</p>
 					</div>
 				</div>
 				<div class="height20"></div>
 				<div class="siyi_left_box_con">
 					<h2 class="pubtit" style="margin:5px 0;"><a href="#" class="more"></a><strong class="f1485a3">
					评论</strong></h2>
 					<ul class="sy_pic_ul">
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/dgmuseum/syp0.jpg"></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/dgmuseum/syp0.jpg"></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/dgmuseum/syp0.jpg"></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/dgmuseum/syp0.jpg"></a></li>
 					</ul>
 					<div class="height10"></div>
 					<p>
					评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
 					<div class="height10"></div>
 				</div>
 				<div class="height20"></div>
 			</div>


 			<div class="siyi_right_box">
 				<div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/syp7.jpg"></a></div>
 				<div class="height10"></div>
 				<div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/dgmuseum/syp7.jpg"></a></div>
 			</div>
 			<div class="height20"></div>




		</div>
		<div class="height20"></div>
	</div>

</body>
</html>