<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="width:600px;height:500px;margin: auto;  text-align:center;">
    <h1>运河网管理员注册</h1>
    <form action="__APP__/Admin/Index/doReg" method="post">
        <div style="width:300px;height:300px;margin: 50px auto; border:1px solid #000; text-align:center">
            <div style="margin-top: 20px">
                用 户 名： <input type="text" name="username">
            </div>
            <div style="margin-top: 20px">
                密　　码： <input type="password" name="password1">
            </div>
            <div style="margin-top: 20px">
                确认密码： <input type="password" name="password2">
            </div>
            <div style="margin-top: 20px">
                 <input type="submit" value="注册">
                 <input type="reset" value="重填">
            </div>
        </div>
    </form>
</div>
</body>
</html>