<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="mainDiv">
    <div id="centerDiv">
        <div id="left">
            <div id="lhead">管理菜单</div>
            <ul id="nav_manage">
                <li ><a href="<{:U('Travel/spot')}>">景点</a></li>
                <li ><a href="<{:U('Travel/eat')}>">吃</a></li>
                <li ><a href="<{:U('Travel/live')}>">住</a></li>
                <li ><a href="<{:U('Travel/story')}>">攻略</a></li>
            </ul>
        </div>
        <div id="right">
        </div>
    </div>
</div>
</body>
</html>