<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1200">
    <META name="keywords" content="中国运河网">
    <meta name="description" content="中国运河网">
    <title>中国运河网</title>
    <load href="__PUBLIC__/Home/Css/css.css"/>
</head>

<center>
    <body>
    <div class="flink_box pr" style="background:#f7f7f7;">
        <h1 class="pa">网络连接</h1>
        <dl>
            <dt>[政 府 网]</dt>
            <dd><a href="?">通州市人民政府网</a>/<a href="?">武清市人民政府网</a>/<a href="?">廊坊市人民政府网</a>/<a href="?">沧州市人民政府网</a>/<a
                    href="?">衡水市人民政府网</a>/<a href="?">邢台市人民政府网</a></dd>
        </dl>
        <dl>
            <dt>[地方媒体]</dt>
            <dd><a href="?">中国城市新闻网</a>/<a href="?">齐鲁晚报</a>/<a href="?">北京晨报</a>/<a href="?">江南晚报</a>/<a
                    href="?">扬州日报</a>/<a
                    href="?">钱江晚报</a></dd>
        </dl>
        <dl>
            <dt>[运河企业品牌网]</dt>
            <dd><a href="?">红豆居家</a>/<a href="?">奥克斯</a>/<a href="?">松鹤楼</a>/<a href="?">海澜之家</a>/<a
                    href="?">钱江晚报</a>/<a
                    href="?">淘宝网</a></dd>
        </dl>
        <dl>
            <dt>[运河旅游景区网]</dt>
            <dd><a href="?">灵山大佛</a>/<a href="?">故宫博物院</a>/<a href="?">拙政园</a>/<a href="?">泰山</a>/<a href="?">普陀山</a>/<a
                    href="?">中国京杭大运河博物馆</a></dd>
        </dl>
        <dl>
            <dt>[文化产业园区网]</dt>
            <dd><a href="?">杭州运河国家广告产业园</a>/<a href="?">宿州马鞍山现代产业园区</a>/<a href="?">无锡文化创业产业园</a>/<a
                    href="?">北京懋隆文化产业创意园</a>/<a href="?/">中国文化创意产业网</a>/<a href="?">深圳文化创意园</a>/<a href="?">无锡招标网</a>/<a
                    href="?">宁波招标网</a>/<a href="?">济南招标网</a>/<a href="?">天津招标投标网</a>/<a href="?">北京市工程建设交易信息网</a>/<a
                    href="?">扬州工程建设信息网</a></dd>
        </dl>


    </div>

    <div class="height10" style="background:#f7f7f7;"></div>
    <div class="footer">
        <p><a href="?">网站介绍</a>/<a href="?">组织机构</a>/<a href="?">联系方式</a>/<a href="?">商务合作</a>/<a href="?">人才招聘</a>/<a
                href="?">合作伙伴</a>/<a href="?">广告服务</a>/<a href="?">友情链接</a>/<a href="?">法律声明</a></p>

        <p><img border="0" src="__PUBLIC__/Home/Images/home/flink.jpg" width="602" height="58"></p>
    </div>
    <div class="copyright">
        <p>中国运河广告招商部联系电话：0510-851388322 18610600393 18618130703<br>
            版权所有 无锡运河之光文化艺术交流有限公司<br>
            苏ICP备15032950<br></p>
        </p>
    </div>
    </body>
</center>
</html>
