<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1200">
    <META name="keywords" content="中国运河网">
    <meta name="description" content="中国运河网">
    <title>中国运河网</title>
    <load href="__PUBLIC__/Home/Css/css.css"/>
    <js href="__PUBLIC__/Home/Js/jquery-1.11.3.min.js" />
    <script>
        $(function()
        {
            $('input[type=submit]').click(function()
            {
                if($.trim($('input[name=keyword]').val())=='')
                {
                    alert('输入为空！');
                    return false;
                }
            })
        })
    </script>
</head>
<center>
    <body>
    <div class="header_box">
        <div class="headnav">
            <div class="topfav"><a href="<{$navbar['url1']}>"><{$navbar['bar1']}></a>|<a href="<{$navbar['url2']}>"><{$navbar['bar2']}></a>|<a href="#">商城</a>|<a href="#">客服</a></div>
        </div>
        <div class="header">
            <table width="1200" height="174" class="table-center">
                <tr>
                    <td width="20%">
                        <a href="__APP__/Home/Index/index"><img src="__PUBLIC__/Home/Images/home/logo.jpg" alt="" width="501" height="174"/>
                    </a></td>
                    <td width="">
                        <img src="__PUBLIC__/Home/Images/home/headcenter.jpg" alt="" width="402" height="99"/>
                    </td>
                    <td width="10%">
                        <!--search-->
                        <div style="width:228px;height:27px; background: url('__PUBLIC__/Home/Images/home/searchbg.jpg')">
                            <form action="__APP__/Search/search" method="post">
                            <table>
                                <tr>
                                    <td><input type="text" name="keyword" placeholder='多个关键字请以空格分开'
                                               style="width:193px;height:25px;border:none;background:none;outline-color: #e4e4e4;">
                                    </td>
                                    <td><input type="submit" value=""
                                               style="margin-left:5px;width:26px;height:25px;text-indent:-999em;border:none;background:none;outline-color: #e4e4e4">
                                    </td>
                                </tr>
                            </table>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clearfloat"></div>
        <div class="nav">
            <ul id="nav">
                <li><a href="__APP__/Home/News">新闻</a>
                    <ul>
                        <li><a href="">图片新闻</a></li>
                        <li><a href="">动态新闻</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="__APP__/Home/Heritage">世遗</a>
                    <ul>
                        <li><a href="">世界遗产组织</a></li>
                        <li><a href="">组织公约</a></li>
                        <li><a href="">中国世遗项目</a></li>
                        <li><a href="">申遗历程</a></li>
                        <li><a href="">研究机构</a></li>
                        <li><a href="">主要媒体</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="__APP__/Home/City">城市</a>
                    <ul>
                        <li><a href="">非物质文化遗产保护</a></li>
                        <li><a href="">运河人物</a></li>
                        <li><a href="">城市</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="__APP__/Home/Travel">旅游</a>
                    <ul>
                        <li><a href="">景点</a></li>
                        <li><a href="">吃住</a></li>
                        <li><a href="">攻略</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="__APP__/Home/Brand">品牌</a>
                    <ul>
                        <li><a href="">中华老字号</a></li>
                        <li><a href="">产品广告</a></li>
                        <li><a href="">品牌广告</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="__APP__/Home/Dgmuseum">数字美术馆</a>
                    <ul>
                        <li><a href="">传奇</a></li>
                        <li><a href="">市场</a></li>
                        <li><a href="">评论</a></li>
                        <li><a href="">艺术群</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="__APP__/Home/Activity">活动</a>
                    <ul>
                        <li><a href="">近期活动</a></li>
                        <li><a href="">......</a></li>
                        <li><a href="">......</a></li>
                        <li><a href="">......</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="__APP__/Home/Volunteer">志愿者家园</a>
                    <ul>
                        <li><a href="">风采展示</a></li>
                        <li><a href="">活动</a></li>
                        <li><a href="">良策</a></li>
                        <li><a href="">监测</a></li>
                    </ul>
                </li>
                <li class="ge"></li>
                <li><a href="#">论坛</a>
                    <ul>
                        <li><a href="">专家视点</a></li>
                        <li><a href="">原创空间</a></li>
                        <li><a href="">百家杂谈</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="height20"></div>
    </div>
    </body>
</center>
</html>