<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <load href="__PUBLIC__/Home/Css/1.1home_font.css" />
    <load href="__PUBLIC__/Home/Css/1home_page.css"  />
    <load href="__PUBLIC__/Home/Js/head_bottom.js" />
    <load href="__PUBLIC__/Home/Js/resize_picture.js" />
   </head>
<center><body>

<div id="head" style="background-color: #FFF; clear: both;">
    <div id="head_up">
        <table width="86%" border="0" cellspacing="0" cellpadding="0" >
            <tr>
                <td width="8%" rowspan="2"></td>
                <td width="20%" rowspan="2" align="left"><img src="__PUBLIC__/Home/Images/login_06.png" alt="" width="400" height="200" onload="AutoResizeImage(400,200,this)" /></td>
                <td width="30%"  valign="center" style="padding-top:25px;"><img src="__PUBLIC__/Home/Images/合力共建.jpg" alt="" width="400" height="200" onload="AutoResizeImage(400,200,this)" /></td>
                <td width="14%" align="right" class="helpcenter">帮助中心</td>
                <td width="9%" align="center" class="helpcenter">联系客服</td>
                <!-- <td width="6%" align="right"><form id="form1" name="form1" method="post" action="">
                  <input type="image" name="imageField" id="imageField" src="images/logining-button.png" />
                </form></td>
                <td width="8%" align="center"><form id="form2" name="form2" method="post" action="">
                  <input type="image" name="imageField2" id="imageField2" src="images/register-button.png" />
                </form></td> 待开发-->
            </tr>
        </table>
    </div>
    <div id="head_center1">
        <table width="86%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><table width="100%" border="0" align="center"cellpadding="0" cellspacing="0">
                    <tr valign="bottom">
                        <td align="center">|</td>
                        <td align="center" class="blue" onmouseover="showsub(1);"><a style="color:inherit;" href="__APP__/Home/Index">主页</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(2);"><a style="color:inherit;" href="__APP__/Home/News">新闻</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(3);"><a style="color:inherit;" href="__APP__/Home/City">城市</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(4);"><a style="color:inherit;" href="__APP__/Home/Inscription">申遗</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(5);"><a style="color:inherit;" href="__APP__/Home/Travel">旅游</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(6);"><a style="color:inherit;" href="__APP__/Home/Brand">品牌</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(7);"><a style="color:inherit;" href="__APP__/Home/Dgmuseum">数字美术馆</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(8);"> <a style="color:inherit;" href="__APP__/Home/Activity">活动</a></td>
                        <td align="center">|</td>
                        <td align="center" onmouseover="showsub(9);"><a style="color:inherit;" href="__APP__/Home/Forum"">论坛</a></td>
                        <td align="center">|</td>
                    </tr>
                </table></td>
            </tr>
        </table>
    </div>
    <div id="head_center2">
        <table width="86%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><table width="100%" border="0" align="center"cellpadding="0" cellspacing="0">
                    <tr valign="bottom">
                        <td align="center">&nbsp;</td>
                        <td width="10%" align="center" id="1"><img src="__PUBLIC__/Home/Images/bracket.jpg" width="30" height="27" /></td>
                        <td width="10%" align="center" id="2"></td><td align="center">&nbsp;</td>
                        <td width="10%" align="center" id="3"></td><td align="center">&nbsp;</td>
                        <td width="10%" align="center" id="4"></td><td align="center">&nbsp;</td>
                        <td width="10%" align="center" id="5"></td><td align="center">&nbsp;</td>
                        <td width="10%" align="center" id="6"></td><td align="center">&nbsp;</td>
                        <td width="20%" align="center" id="7"></td><td align="center">&nbsp;</td>
                        <td width="10%" align="center" id="8"></td><td align="center">&nbsp;</td>
                        <td width="10%" align="center" id="9"></td><td align="center">&nbsp;</td>
                    </tr>
                </table></td>
            </tr>
        </table>
    </div>
    <div id="head_bottom">
    </div>
</div>
</body></center>
</html>