<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1200">
    <META name="keywords" content="中国运河网">
    <meta name="description" content="中国运河网">
    <title>中国运河网</title>
    <load href="__PUBLIC__/Home/Css/css.css"/>
</head>
<body>

<div class="wrap_box">
    <div class="wrap">
        <div class="left_box">
            <!--首页新闻图片-->
            <volist name="home_pic" id="vo">
                <a href="">
                    <img src="__PUBLIC__/<{$vo.imgpath}>" width="802" height="451"/>
                </a>
            </volist>
        </div>
        <div class="right_box">
            <div class="right_con" style="height:450px;">
                <h2 class="pubtit top_border_ff9900"><a href="#" class="more"
                                                        style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                        class="f1485a3">新&nbsp;&nbsp;闻</strong></h2>
                <dl class="r_news_dl1">
                    <dt>
                        <h3><a href="#"><{$list2[0]['title']}></a></h3></dt>
                    <dd><p>
                        <{$list2[0]['content']}>......</p></dd>
                </dl>
                <dl class="r_news_dl1">
                    <dt>
                        <h3><a href="#"><{$list2[1]['title']}></a></h3></dt>
                    <dd><p>
                        <{$list2[1]['content']}>.....</p></dd>
                </dl>
                <dl class="r_news_dl1">
                    <dt>
                    <h3><a href="#"><{$list2[2]['title']}>......</a></h3></dt>
                    <dd><p>
                        <{$list2[2]['content']}>......</p></dd>
                </dl>
            </div>
        </div>
        <div class="height20"></div>
        <div class="left_box">
            <div class="left_con" style="height:390px;">
                <h2 class="pubtit top_border_1485a3"><strong class="f1485a3">世&nbsp;&nbsp;遗</strong><a href="#">世遗组织</a><a>|</a><a
                        href="#">组织公约</a><a>|</a><a href="#">中国世遗项目</a><a>|</a><a href="#">申遗历程</a><a>|</a><a href="#">研究机构</a><a>|</a><a
                        href="#">主要媒体</a></h2>
                <dl class="r_news_dl2">
                    <dt>
                    <h3><a href="#"><{$list5[0]['title']}></a></h3></dt>
                    <dd><p>
                        <{$list5[0]['content']}>.....<a
                            href="#" class="more"></a></p></dd>
                </dl>
                <div class="height10"></div>
                <div class="r_news_dl3_box fl">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>中国世遗项目</span>
                    </h4>
                    <dl class="r_news_dl3">
                        <dt><a href="#">
                            <img src="__PUBLIC__/<{$list3[0].imgpath}>"/>
                        </a>
                        </dt>
                        <dd>
                            <!--中国世遗项目-->
                            <h3><a href="#"><{$list3[0]['address']}></a></h3>

                            <p>
                                <{$list3[0]['content']}>......
                            </p>
                        </dd>
                    </dl>
                </div>
                <div class="r_news_dl3_box fr">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>申遗历程</span>
                    </h4>
                    <dl class="r_news_dl3">
                        <dt><a href="#"><img src="__PUBLIC__/Home/Images/home/p1.jpg"></a></dt>
                        <dd>
                            <!--申遗历程-->
                            <h3><a href="#"><{$list4[0]['title']}></a></h3>

                            <p><{$list4[0]['content']}>......</p></dd>
                    </dl>
                </div>

            </div>
        </div>
        <div class="right_box">
            <div class="right_con" style="height:390px;">
                <h2 class="pubtit top_border_bba422"><strong class="f1485a3">活&nbsp;&nbsp;动</strong></h2>
                <ul class="pic_news_ul1">
                    <li><a href="#"><img src="__PUBLIC__/<{$activity[0]['imgpath']}>"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/<{$activity[1]['imgpath']}>"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/<{$activity[2]['imgpath']}>"></a></li>
                </ul>
                <div class="height10"></div>
                <ul class="news_ul1">
                    <li><a href="#">· <{$activity[0]['title']}></a></li>
                    <li><a href="#">· <{$activity[1]['']}></a></li>
                    <li><a href="#">· <{$activity[2]['']}></a></li>
                    <li><a href="#">· <{$activity[3]['']}></a></li>
                    <li><a href="#">· <{$activity[4]['']}></a></li>
                    <li><a href="#">· <{$activity[5]['']}></a></li>
                    <li><a href="#">· <{$activity[6]['']}></a></li>
                    <li><a href="#">· <{$activity[7]['']}></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ad_box1"><img border="0" src="__PUBLIC__/Home/Images/home/ad1.jpg" width="1200" height="100"></div>
    <div class="wrap">
        <div class="left_box">
            <div class="left_con" style="height:250px;">
                <h2 class="pubtit top_border_7a9000"><strong class="f1485a3">城&nbsp;&nbsp;市</strong><a href="#">非遗保护</a><a>|</a><a
                        href="#">运河人物</a><a>|</a><a href="#">运河地图</a></h2>
                <h4 class="pubtit1"><a href="#" class="more"></a><span>运河地图</span></h4>
                <dl class="about_dl">
                    <dt><a href="#"><img src="__PUBLIC__/<{$city[0]['imgpath']}>"></a></dt>
                    <dd>
                        <h3><a href="#"> <{$city[0]['title']}></a></h3>

                        <p>
                            <{$city[0]['content']}>......</p></dd>
                </dl>
            </div>
            <div class="height20"></div>
            <div class="left_con" style="height:452px;">
                <h2 class="pubtit top_border_bba422 "><strong class="f1485a3">旅&nbsp;&nbsp;游</strong><a
                        href="#">景点</a><a>|</a><a href="#">吃住</a><a>|</a><a href="#">攻略</a></h2>

                <div class="lv_pic_box fl">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>景点</span>
                    </h4>
                    <ul class="lv_pic_con1">
                        <li><a href=""><img src="__PUBLIC__/<{$travel_spot[0]['imgpath']}>"></a>

                            <p><{$travel_spot[0]['title']}></p></li>
                        <li><a href=""><img src="__PUBLIC__/<{$travel_spot[1]['imgpath']}>"></a>

                            <p><{$travel_spot[1]['title']}></p></li>
                        <li><a href=""><img src="__PUBLIC__/<{$travel_spot[2]['imgpath']}>"></a>

                            <p><{$travel_spot[2]['title']}></p></li>
                    </ul>
                </div>
                <div class="lv_pic_box fr">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>吃住</span>
                    </h4>
                    <!--吃住-->
                    <ul class="lv_pic_con2">
                        <li><a href=""><img src="__PUBLIC__/<{$travel_eat[0]['imgpath']}>"></a>

                            <p><{$travel_eat[0]['title']}></p></li>
                        <li><a href=""><img src="__PUBLIC__/Home/Images/home/lv5.jpg"></a>

                            <p>榴莲酥</p></li>
                    </ul>
                </div>
                <hr>
                <div class="gl_box">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>攻略</span>
                    </h4>

                    <div class="gl_map"><img src="__PUBLIC__/<{$travel_story[0]['imgpath']}>"></div>
                    <dl class="gl_dl">
                        <dt><a href="#"><img src="__PUBLIC__/<{$travel_story[0]['imgpath']}>"></a></dt>
                        <dd><p><{$travel_story[0]['title']}><br>
                            <{$travel_story[0]['content']}></p></dd>
                    </dl>
                </div>

            </div>
        </div>
        <div class="right_box">
            <div class="right_con" style="height:722px;">
                <h2 class="pubtit top_border_d96800"><a href="#" style="float:right;">会员注册</a><strong class="f1485a3">志愿者家园</strong>
                </h2>
                <h4 class="pubtit2"><span>风采</span></h4>

                <div class="zyz_pic_box1">
                    <a href="#"><img src="__PUBLIC__/Home/Images/home/zyz_pic1.jpg"></a>
                </div>
                <h4 class="pubtit2"><span>活动</span></h4>
                <ul class="zyz_pic_box2">
                    <li><a href=""><img src="__PUBLIC__/Home/Images/home/zyz_pic2.jpg"></a></li>
                    <li><a href=""><img src="__PUBLIC__/Home/Images/home/zyz_pic3.jpg"></a></li>
                </ul>
                <div class="zyz_txt fl">
                    <h4 class="pubtit2"><span>良策</span></h4>

                    <p>
                        河南安阳滑县段的卫河作为中国大运河的重要组成部分被列入了保护和申报世界文化遗产的范围。卫河岸边的道口古镇，至今已有近千年的历史。清朝乾......</p>
                </div>
                <div class="zyz_txt fr">
                    <h4 class="pubtit2"><span>监测</span></h4>

                    <p>
                        河南安阳滑县段的卫河作为中国大运河的重要组成部分被列入了保护和申报世界文化遗产的范围。卫河岸边的道口古镇，至今已有近千年的历史。清朝乾......</p>
                </div>
            </div>
        </div>
        <div class="height20"></div>
        <div class="left_box">
            <div class="left_con" style="height:460px;">
                <h2 class="pubtit top_border_870078"><strong class="f1485a3">数字美术馆</strong><a href="#">传奇</a><a>|</a><a
                        href="#">市场</a><a>|</a><a href="#">评论</a><a>|</a><a href="#">艺术群</a></h2>

                <div class="art_box fl">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>传奇</span>
                    </h4>
                    <dl>
                        <dt><a href="#"><img src="__PUBLIC__/<{$classic_legend[0]['imgpath']}>"></a></dt>
                        <dd>
                            <h3><a href="#"><{$classic_legend[0]['title']}></a></h3>

                            <p>
                                <{$classic_legend[0]['content']}>......</p>
                        </dd>
                    </dl>
                </div>
                <div class="art_box fr">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>艺术群</span>
                    </h4>
                    <dl>
                        <dt><a href="#"><img src="__PUBLIC__/<{$classic_group[0]['imgpath']}>"></a></dt>
                        <dd>
                            <h3><a href="#"><{$classic_group[0]['name']}></a></h3>

                            <p>
                                <{$classic_group[0]['content']}>......</p>
                        </dd>
                    </dl>
                </div>
                <hr>
                <div class="art_box fl">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>市场</span>
                    </h4>
                    <dl>
                        <dt><a href="#"><img src="__PUBLIC__/<{$classic_market[0]['imgpath']}>"></a></dt>
                        <dd>
                            <h3><a href="#"><{$classic_market[0]['title']}></a></h3>

                            <p>
                                <{$classic_market[0]['content']}>......</p></dd>
                    </dl>
                </div>
                <div class="art_box fr">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>评论</span>
                    </h4>
                    <dl>
                        <dt><a href="#"><img src="__PUBLIC__/<{$classic_comment[0]['imgpath']}>"></a></dt>
                        <dd>
                            <h3><a href="#"><{$classic_comment[0]['title']}></a></h3>

                            <p>
                                <{$classic_comment[0]['content']}>......</p></dd>
                    </dl>
                </div>

            </div>
            <div class="height20"></div>
            <div class="left_con" style="height:260px;">
                <h2 class="pubtit top_border_d96800 "><strong class="f1485a3">品&nbsp;&nbsp;牌</strong><a
                        href="#">中华老字号</a><a>|</a><a href="#">特色广告</a><a>|</a><a href="#">运河品牌</a></h2>

                <div class="pro_box1">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>中华老字号</span>
                    </h4>
                    <ul class="news_ul2">
                        <li><a href="#"><{$brand_tradition[0]['title']}></a></li>
                        <li><a href="#"><{$brand_tradition[1]['title']}></a></li>
                        <li><a href="#"><{$brand_tradition[2]['title']}></a></li>
                        <li><a href="#"><{$brand_tradition[3]['title']}></a></li>
                        <li><a href="#"><{$brand_tradition[4]['title']}></a></li>

                    </ul>
                </div>

                <div class="pro_box3">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>品牌广告</span>
                    </h4>
                    <dl>
                        <dt><a href="#"><img src="__PUBLIC__/<{$brand_brand[0]['imgpath']}>"></a></dt>
                        <dd><p><{$brand_brand[0]['title']}></p></dd>
                    </dl>
                    <dl>
                        <dt><a href="#"><img src="__PUBLIC__/<{$brand_brand[1]['imgpath']}>"></a></dt>
                        <dd><p><{$brand_brand[1]['title']}></p></dd>
                    </dl>
                </div>
                <div class="pro_box2">
                    <h4 class="pubtit1"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>产品广告</span>
                    </h4>

                    <p><{$brand_product[0]['content']}>······</p>
                </div>


            </div>
        </div>
        <div class="right_box">
            <div class="right_con" style="height:740px;">
                <h2 class="pubtit top_border_c70d0e"><strong class="f1485a3">论坛</strong></h2>

                <div class="bbs_box1">
                    <h4 class="pubtit2"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>专家视点</span>
                    </h4>
                    <a href="#"><img src="__PUBLIC__/Home/Images/home/bbs_pic1.jpg"></a>
                </div>
                <div class="bbs_box1">
                    <h4 class="pubtit2"><a href="#" class="more"></a><span>原创空间</span></h4>
                    <a href="#"><img src="__PUBLIC__/Home/Images/home/bbs_pic2.jpg"></a>
                </div>
                <div class="bbs_box1">
                    <h4 class="pubtit2"><a href="#" class="more"
                                           style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><span>百家杂谈</span>
                    </h4>
                    <a href="#"><img src="__PUBLIC__/Home/Images/home/bbs_pic3.jpg"></a>
                </div>

            </div>
        </div>
        <div class="height20"></div>

    </div>
    <div class="height20"></div>
</div>
<div class="flink_box pr" style="background:#f7f7f7;">
    <h1 class="pa">网络连接</h1>
    <dl>
        <dt>[政 府 网]</dt>
        <dd><a href="?">通州市人民政府网</a>/<a href="?">武清市人民政府网</a>/<a href="?">廊坊市人民政府网</a>/<a href="?">沧州市人民政府网</a>/<a
                href="?">衡水市人民政府网</a>/<a href="?">邢台市人民政府网</a></dd>
    </dl>
    <dl>
        <dt>[地方媒体]</dt>
        <dd><a href="?">中国城市新闻网</a>/<a href="?">齐鲁晚报</a>/<a href="?">北京晨报</a>/<a href="?">江南晚报</a>/<a
                href="?">扬州日报</a>/<a
                href="?">钱江晚报</a></dd>
    </dl>
    <dl>
        <dt>[运河企业品牌网]</dt>
        <dd><a href="?">红豆居家</a>/<a href="?">奥克斯</a>/<a href="?">松鹤楼</a>/<a href="?">海澜之家</a>/<a
                href="?">钱江晚报</a>/<a
                href="?">淘宝网</a></dd>
    </dl>
    <dl>
        <dt>[运河旅游景区网]</dt>
        <dd><a href="?">灵山大佛</a>/<a href="?">故宫博物院</a>/<a href="?">拙政园</a>/<a href="?">泰山</a>/<a href="?">普陀山</a>/<a
                href="?">中国京杭大运河博物馆</a></dd>
    </dl>
    <dl>
        <dt>[文化产业园区网]</dt>
        <dd><a href="?">杭州运河国家广告产业园</a>/<a href="?">宿州马鞍山现代产业园区</a>/<a href="?">无锡文化创业产业园</a>/<a
                href="?">北京懋隆文化产业创意园</a>/<a href="?/">中国文化创意产业网</a>/<a href="?">深圳文化创意园</a>/<a href="?">无锡招标网</a>/<a
                href="?">宁波招标网</a>/<a href="?">济南招标网</a>/<a href="?">天津招标投标网</a>/<a href="?">北京市工程建设交易信息网</a>/<a
                href="?">扬州工程建设信息网</a></dd>
    </dl>


</div>
</body>
</html>