<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <load href="__PUBLIC__/Home/Css/home_head.css"  />
    <load href="__PUBLIC__/Home/Css/home_page.css"  />
</head>
<center>
<body>
<div id="foot">
    <div id="foot_up" style="float:left; width:1200px; background-color:#FFF">
        <hr id="dotted" />
    </div>
    <div id="foot_center1" style="float: left; width: 1200px; text-align: left; background-color: #FFF; height: 450px;">
        <table width="91%" border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
                <td width="14%" height="34" align="left" valign="bottom" class="title5">网络链接</td>
                <td width="24%">&nbsp;</td>
                <td width="21%">&nbsp;</td>
                <td width="38%">&nbsp;</td>
            </tr>
            <tr>
                <td height="28">&nbsp;</td>
                <td valign="top" class="title6">[政府网]</td>
                <td><span class="title6">[地方媒体]</span></td>
                <td><span class="title6">[运河城市各类企业品牌网]</span></td>
            </tr>
            <tr>
                <td height="184">&nbsp;</td>
                <td valign="top"><span class="item2"><a style="color:inherit;" href="http://www.bjtzh.gov.cn/">通州市人民政府网</a><br />
            <a style="color:inherit;" href="http://www.tjwq.gov.cn/">武清市人民政府网</a><br />
            <a style="color:inherit;" href="http://www.lf.gov.cn/">廊坊市人民政府网</a><br />
            <a style="color:inherit;" href="http://www.cangzhou.gov.cn/">沧州市人民政府网</a><br />
            <a style="color:inherit;" href="http://www.hengshui.gov.cn/">衡水市人民政府网</a><br />
            <a style="color:inherit;" href="http://www.xingtai.gov.cn/">邢台市人民政府网</a><br />
                </td>
                <td valign="top"><span class="item2">
		<a style="color:inherit;" target="_blank" href="http://www.chinacitynews.com.cn/">中国城市新闻网</a><br />
		<a style="color:inherit;" href="http://www.qlwb.com.cn/">齐鲁晚报</a><br />
		<a style="color:inherit;" href="http://www.morningpost.com.cn/">北京晨报</a><br />
		<a style="color:inherit;" href="http://epaper.jnwb.net/">江南晚报</a><br />
		<a style="color:inherit;" href="http://www.yznews.com.cn/yzrb/">扬州日报</a><br />
		<a style="color:inherit;" href="http://qjwb.zjol.com.cn/">钱江晚报</a><br />
        </span><span class="detail"></span></td>
                <td valign="top"><span class="item2"><a style="color:inherit;" href="http://www.hodoth.com/">红豆居家</a><br />
		<a style="color:inherit;" href="http://www.auxgroup.com/">奥克斯</a><br />
		<a style="color:inherit;" href="http://www.songheloucake.cn/">松鹤楼</a><br />
		<a style="color:inherit;" href="http://www.heilanhome.com/">海澜之家</a><br />
		<a style="color:inherit;" href="http://qjwb.zjol.com.cn/">钱江晚报</a><br />
<a style="color:inherit;" href="http://www.taobao.com/">淘宝网</a><br />

        </span><span class="detail"></span></td>
            </tr>
            <tr>
                <td height="30">&nbsp;</td>
                <td><span class="title6">[运河城市旅游景区网]</span></td>
                <td><span class="title6">[文化产业园区网]</span></td>
                <td><span class="title6">[政府与企业大型项目招商网]</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span class="item2"><a style="color:inherit;" href="http://www.chinalingshan.com/index.aspx">灵山大佛</a><br />
<a style="color:inherit;" href="http://www.dpm.org.cn/">故宫博物院</a><br />
<a style="color:inherit;" href="http://www.szzzy.cn/">拙政园</a><br />
<a style="color:inherit;" href="http://www.mount-tai.com.cn/">泰山</a><br />
<a style="color:inherit;" href="http://www.putuoshan.gov.cn/">普陀山</a><br />
<a style="color:inherit;" href="http://www.canal-museum.cn/">中国京杭大运河博物馆</a><br />

        </span><span class="detail"></span></td>
                <td><span class="item2"><a style="color:inherit;" href="http://www.hzyhad.com/">杭州运河国家广告产业园</a><br />
<a style="color:inherit;" href="http://www.suma.gov.cn/">宿州马鞍山现代产业园区</a><br />
<a style="color:inherit;" href="http://www.wxcci.com/">无锡文化创业产业园</a><br />
<a style="color:inherit;" href="http://www.bjartscrafts.com/">北京懋隆文化产业创意园</a><br />
<a style="color:inherit;" href="http://yuanqu.ccitimes.com">中国文化创意产业网</a><br />
<a style="color:inherit;" href="http://www.szccip.com/">深圳文化创意园</a><br />

        </span><span class="detail"></span></td>
                <td><span class="item2"><a style="color:inherit;" href="http://js.bidcenter.com.cn/1205/">无锡招标网</a><br />
<a style="color:inherit;" href="http://zj.bidcenter.com.cn/1338/">宁波招标网</a><br />
<a style="color:inherit;" href="http://sd.bidcenter.com.cn/1802/">济南招标网</a><br />
<a style="color:inherit;" href="http://www.tjztb.gov.cn/">天津招标投标网</a><br />
<a style="color:inherit;" href="http://www.bcactc.com/">北京市工程建设交易信息网</a><br />
<a style="color:inherit;" href="http://www.yzcetc.com/Yzcetc/default.aspx">扬州工程建设信息网</a><br />

        </span><span class="detail"></span></td>
            </tr>
        </table>
    </div>
    <div id="foot_center2" style="float: left; width: 1200px; height: 50px; background-image: url(__PUBLIC__/Home/Images/body_bottom_center2_bg.png)"
            ></div>
    <div id="foot_bottom" style="float: left; width: 1200px; height: 130px; background-image:url(__PUBLIC__/Home/Images/body_bottom_center3_bg.png)">
        <table width="60%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="36%" height="41" align="right" valign="top"><img src="__PUBLIC__/Home/Images/bott_ico1.jpg" alt="" width="70" height="30" /></td>
                <td width="13%" align="right" valign="top"><img src="__PUBLIC__/Home/Images/bott_ico2.jpg" alt="" width="70" height="30" /></td>
                <td width="16%" align="center" valign="top"><img src="__PUBLIC__/Home/Images/bott_ico3.gif" alt="" width="70" height="30" /></td>
                <td width="35%" align="left" valign="top"><img src="__PUBLIC__/Home/Images/bott_ico4.gif" alt="" width="70" height="30" /></td>
            </tr>
            <tr>
                <td height="60" colspan="4" align="center" valign="middle" class="item2">中国运河网广告招商部联系电话：0510-85138322 18610610393 18618130703<br />
                    版权所有©无锡运河之光文化艺术交流有限公司 </td>
            </tr>
        </table>
        <table width="70%" border="0" cellspacing="0" cellpadding="0">
            <tr class="foot_link">
                <td>网站简介</td>
                <td>|</td>
                <td>组织机构</td>
                <td>|</td>
                <td>联系方式</td>
                <td>|</td>
                <td>商务合作</td>
                <td>|</td>
                <td>人员招聘</td>
                <td>|</td>
                <td>合作伙伴</td>
                <td>|</td>
                <td>广告服务</td>
                <td>|</td>
                <td>友情链接</td>
                <td>|</td>
                <td>法律声明</td>
            </tr>
        </table>
    </div>
    <div style="font: 0px/0px sans-serif;clear: both;display: block"> </div>
</div>
<div id="copyright_information" style="height: 41px; float: left; width: 100%; background-image: url('__PUBLIC__/Home/Images/footer-bg2.png'); margin-top: -13px;"><span class="copyright"><br />
    Copyright 2009-2014 CAPCC.COM.CN 京ICP备10211944号 无锡运河之光文化艺术交流有限公司</span></div>
</body>
</center>
</html>
