<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1200">

    <META name="keywords" content="中国运河网">
    <meta name="description" content="中国运河网">
    <title>旅游</title>
    <load href="__PUBLIC__/Home/Css/travel.css"/>
    <load href="__PUBLIC__/Home/Css/css.css"/>
</head>

<body>
<div class="wrap_box">
    <div class="wrap">
        <div class="lvyou_left_box">
            <div class="lvyou_left_box_con">
                <div class="lvyou_left_box_con1 fl">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">景&nbsp;&nbsp;点</strong>
                    </h2>
                    <ul class="lv_pic_con1">
                        <li><a href=""><img src="__PUBLIC__/<{$travel_spot[0]['imgpath']}>"
                                            style="border:1px solid #808080;"></a>

                            <p>南山竹海</p></li>
                        <li><a href=""><img src="__PUBLIC__/<{$travel_spot[1]['imgpath']}>"
                                            style="border:1px solid #808080;"></a>

                            <p>太公山</p></li>
                        <li><a href=""><img src="__PUBLIC__/<{$travel_spot[2]['imgpath']}>"
                                            style="border:1px solid #808080;"></a>

                            <p>天目湖</p></li>
                    </ul>
                    <div class="clearfloat"></div>
                    <dl class="lvyou_dl">
                        <dt><{$travel_spot[0]['title']}></dt>
                        <dd><{$travel_spot[0]['content']}>……</dd>
                    </dl>
                    <dl class="lvyou_dl">
                        <dt><{$travel_spot[1]['title']}></dt>
                        <dd><{$travel_spot[1]['content']}>……</dd>
                    </dl>
                    <dl class="lvyou_dl">
                        <dt><{$travel_spot[2]['title']}></dt>
                        <dd><{$travel_spot[2]['content']}>……</dd>
                    </dl>

                </div>
                <div class="lvyou_left_box_con1 fr">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">吃&nbsp;&nbsp;住</strong>
                    </h2>

                    <div class="lvyou_3p_box">
                        <ul>
                            <li><a href="#"><img border="0" src="__PUBLIC__/<{$travel_eat[0]['imgpath']}>"></a></li>
                            <li><a href="#"><img border="0" src="__PUBLIC__/<{$travel_eat[1]['imgpath']}>"></a></li>
                        </ul>
                        <div class="lvyou_3p_box_r"><a href="#"><img border="0"
                                                                     src="__PUBLIC__/Home/Images/travel/lvyou_pic6.jpg"></a>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                    <p><{$travel_eat[0]['content']}>......</p>

                    <p><{$travel_eat[1]['content']}>......</p>
                </div>
            </div>
            <div class="height20"></div>
            <div class="lvyou_left_box_con">
                <h2 class="pubtit" style="margin:5px 0;"><a href="#" class="more"></a><strong class="f1485a3">攻&nbsp;&nbsp;略</strong>
                </h2>
                <ul class="lvyou_gonglv_ul">
                    <li><a href="#"><img src="__PUBLIC__/<{$travel_story[0]['imgpath']}>"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/travel/lvyou_pic2.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/travel/lvyou_pic2.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/travel/lvyou_pic2.jpg"></a></li>
                </ul>
                <p class="lvyou_luxian_p">
                    <strong><{$travel_story[0]['title']}></strong><br>
                    <span> <{$travel_story[0]['content']}></span><br>
                    &nbsp;</p>
            </div>
        </div>
        <div class="lvyou_right_box">
            <div class="lvyou_right_box_con"><a href="#"><img border="0"
                                                              src="__PUBLIC__/Home/Images/travel/lvyou_pic3.jpg"></a>
            </div>
            <div class="height10"></div>
            <div class="lvyou_right_box_con"><a href="#"><img border="0"
                                                              src="__PUBLIC__/Home/Images/travel/lvyou_pic3.jpg"></a>
            </div>
        </div>
        <div class="height20"></div>
    </div>
    <div class="height20"></div>
</div>
</body>
</html>