<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <load href="__PUBLIC__/Home/Css/travel.css"/>
    <load href="__PUBLIC__/Home/Css/css.css"/>
</head>

<body>
<div class="wrap_box">
    <div class="wrap">
        <div class="lvyou_left_box">
            <div class="lvyou_left_box_con">
                <div class="lvyou_left_box_con1 fl">
                    <!--景点-->
                    <h2 class="pubtit" style="margin:8px 0;"><a
                            href="__APP__/Home/Travel/travel_spot/city/<{$travel_spot[0].city}>" class="more"
                            style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                            class="f1485a3"><{$travel_spot[0].city}>：景&nbsp;&nbsp;点</strong>
                    </h2>
                    <ul class="lv_pic_con1">
                        <volist name="travel_spot" id="vo" offset="0" length="3">
                            <li><a href="__APP__/Home/Travel/third_spot/id/<{$vo.id}>"><img
                                    src="__PUBLIC__/<{$vo['imgpath']}>"
                                    style="border:1px solid #808080;"></a>

                                <p><a href="__APP__/Home/Travel/third_spot/id/<{$vo.id}>"><{$vo['title']}></a></p></li>
                        </volist>
                    </ul>
                    <div class="clearfloat"></div>
                    <volist name="travel_spot" id="vo" offset="0" length="3">
                        <dl class="lvyou_dl">
                            <dt><{$vo['title']}></dt>
                            <dd><{$vo['content']}><a
                                    href="__APP__/Home/Travel/third_spot/id/<{$vo.id}>"
                                    style="color: #0066cc">...详细&gt;&gt;</a></dd>
                        </dl>
                    </volist>
                </div>

                <!--吃&住-->
                <div class="lvyou_left_box_con1 fr">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Travel/eat_live.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3"><{$travel_spot[0].city}>：美&nbsp;&nbsp;食</strong>
                    </h2>

                    <div class="lvyou_3p_box">
                        <ul>
                            <li><a href="__APP__/Home/Travel/third_eat/id/<{$travel_eat[0].id}>"><img border="0" src="__PUBLIC__/<{$travel_eat[0]['imgpath']}>"></a></li>
                            <li><a href="__APP__/Home/Travel/third_eat/id/<{$travel_eat[1].id}>"><img border="0" src="__PUBLIC__/<{$travel_eat[1]['imgpath']}>"></a></li>
                        </ul>
                        <div class="lvyou_3p_box_r"><a href="__APP__/Home/Travel/third_canal/id/<{$travel_live[0].id}>"><img border="0"
                                                                     src="__PUBLIC__/<{$travel_live[0]['imgpath']}>"></a>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                        <dl class="lvyou_dl">
                            <p><{$travel_eat[0]['content']}><a href="__APP__/Home/Travel/third_eat/id/<{$travel_eat[0].id}>" style="color: #0066cc">...详细&gt;&gt;</a></p>
                        </dl>
                         <dl class="lvyou_dl">
                            <p><{$travel_eat[1]['content']}><a href="__APP__/Home/Travel/third_eat/id/<{$travel_eat[1].id}>" style="color: #0066cc">...详细&gt;&gt;</a></p>
                         </dl>
                </div>
            </div>
            <div class="height20"></div>

            <!--攻略-->
            <div class="lvyou_left_box_con">
                <h2 class="pubtit" style="margin:5px 0;"><a href="__APP__/Home/Travel/travel_story.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3"><{$travel_spot[0].city}>：攻&nbsp;&nbsp;略</strong>
                </h2>
                <ul class="lvyou_gonglv_ul">
                    <li><a href="__APP__/Home/Travel/third_story/id/<{$travel_story[0].id}>"><img src="__PUBLIC__/<{$travel_story[0]['imgpath']}>"></a></li>
                    <li><a href="__APP__/Home/Travel/third_story/id/<{$travel_story[0].id}>"><img src="__PUBLIC__/Home/Images/travel/lvyou_pic2.jpg"></a></li>
                    <li><a href="__APP__/Home/Travel/third_story/id/<{$travel_story[0].id}>"><img src="__PUBLIC__/Home/Images/travel/lvyou_pic2.jpg"></a></li>
                    <li><a href="__APP__/Home/Travel/third_story/id/<{$travel_story[0].id}>"><img src="__PUBLIC__/Home/Images/travel/lvyou_pic2.jpg"></a></li>
                </ul>
                <p class="lvyou_luxian_p">
                    <strong><{$travel_story[0]['title']}></strong><br>
                    <span> <{$travel_story[0]['content']}></span><br>
                    &nbsp;</p>
            </div>
        </div>
        <div class="lvyou_right_box">
            <div class="lvyou_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/home/guang/g.jpg"></a>
            </div>
            <div class="height10"></div>
            <div class="lvyou_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/home/guang/f.jpg"></a>
            </div>
        </div>
        <div class="height20"></div>
    </div>
    <div class="height20"></div>
</div>
</body>
</html>