<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<META name="keywords" content="中国运河网">
<meta name="description" content="中国运河网">
<title>旅游</title>
<load href="__PUBLIC__/Home/Css/travel.css"/>
<load href="__PUBLIC__/Home/Css/css.css"/>


</head>
<body>
	<div class="wrap_box">
 		<div class="wrap">
 			<div class="lvyou_left_box">
 				<div class="lvyou_left_box_con">
 					<div class="lvyou_left_box_con1 fl">
 						<h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">景&nbsp;&nbsp;点</strong></h2>
 						<ul class="lv_pic_con1">
 							<li><a href=""><img src="images/lv1.jpg" style="border:1px solid #808080;"></a><p>南山竹海</p></li>
 							<li><a href=""><img src="images/lv2.jpg" style="border:1px solid #808080;"></a><p>太公山</p></li>
 							<li><a href=""><img src="images/lv3.jpg" style="border:1px solid #808080;"></a><p>天目湖</p></li>
 						</ul>
 						<div class="clearfloat"></div>
 						<dl class="lvyou_dl">
 							<dt>南山竹海</dt>
 							<dd>最佳季节：6月-8月最佳，可以最好的欣赏到南山海的旖旎风光，且是避暑胜地，玩水赏主，也是最相宜不过……</dd>
 						</dl>
 						<dl class="lvyou_dl">
 							<dt>南山竹海</dt>
 							<dd>最佳季节：6月-8月最佳，可以最好的欣赏到南山海的旖旎风光，且是避暑胜地，玩水赏主，也是最相宜不过……</dd>
 						</dl>
 						<dl class="lvyou_dl">
 							<dt>南山竹海</dt>
 							<dd>最佳季节：6月-8月最佳，可以最好的欣赏到南山海的旖旎风光，且是避暑胜地，玩水赏主，也是最相宜不过……</dd>
 						</dl>
 						
 					</div>
 					<div class="lvyou_left_box_con1 fr">
 						<h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">吃&nbsp;&nbsp;住</strong></h2>
 						<div class="lvyou_3p_box">
 							<ul>
 								<li><a href="#"><img border="0" src="images/lvyou_pic4.jpg"></a></li>
 								<li><a href="#"><img border="0" src="images/lvyou_pic5.jpg"></a></li>
 							</ul>
 							<div class="lvyou_3p_box_r"><a href="#"><img border="0" src="images/lvyou_pic6.jpg"></a></div>
 						</div>
 						<div class="clearfloat"></div>
 						<p>加蟹小笼包、榴莲酥、宁式镁丝、水晶油包、苔菜拖黄鱼、雪菜大黄鱼、冰粮甲鱼</p>
						<p>加蟹小笼包、榴莲酥、宁式镁丝、水晶油包、苔菜拖黄鱼、雪菜大黄鱼、冰粮甲鱼 					</p>
 					</div>
 				</div>
 				<div class="height20"></div>
 				<div class="lvyou_left_box_con">
 					<h2 class="pubtit" style="margin:5px 0;"><a href="#" class="more"></a><strong class="f1485a3">攻&nbsp;&nbsp;略</strong></h2>
 					<ul class="lvyou_gonglv_ul">
 						<li><a href="#"><img src="images/lvyou_pic2.jpg"></a></li>
 						<li><a href="#"><img src="images/lvyou_pic2.jpg"></a></li>
 						<li><a href="#"><img src="images/lvyou_pic2.jpg"></a></li>
 						<li><a href="#"><img src="images/lvyou_pic2.jpg"></a></li>
 					</ul>
 					<p class="lvyou_luxian_p">
 						<strong>杭州—郑州—安阳</strong><br>
 						<span>第一天：杭州-郑州
<br>
						第二天：郑州-巩义-登封
<br>
						第三天：登封-洛阳
<br>
						第四天：洛阳-焦作-云台山<br>
						第五天：洛阳-焦作-云台山<br>
						第六天：洛阳-焦作-云台山</span><br>
&nbsp;</p>
 				</div>
 			</div>
 			
 			
 			<div class="lvyou_right_box">
 				<div class="lvyou_right_box_con"><a href="#"><img border="0" src="images/lvyou_pic3.jpg"></a></div>
 				<div class="height10"></div>
 				<div class="lvyou_right_box_con"><a href="#"><img border="0" src="images/lvyou_pic3.jpg"></a></div>
 			</div>
 			<div class="height20"></div>
 			
 			
 			
 			
		</div>
		<div class="height20"></div>
	</div>
</body>
</html>