
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>运河网后台管理系统 </title>
    <js href="__PUBLIC__/Admin/jquery.js" />
    <load href="__PUBLIC__/Admin/index.css" />
    <load href="__PUBLIC__/Home/Css/1.1home_font.css" />
    <js href="__PUBLIC__/Admin/savedInfo.js" />
</head>
<body onbeforeunload="return CheckUnsave();">
<div id="mainDiv">
    <div id="centerDiv">
        <div id="left">
            <div id="lhead">管理菜单</div>
            <ul id="nav_manage">
                <li ><a href="<{:U('News/wechat')}>">微说新闻</a></li>
                <li ><a href="<{:U('News/active')}>">动态新闻</a></li>
            </ul>
        </div>
        <div id="right">
            <div id="current">&nbsp;&nbsp;&nbsp;&nbsp;当前位置:添加新闻</div>
            <div id="form">
                <form action="__APP__/Admin/News/add_news/tag/<{$tag}>" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend style="font-size: 20px;color:red">添加<{$tag}></legend>
                        Title(标题): <input type="text" name="title" /><br />
                        Abstract(简介）: <br /><textarea cols="50" rows="10" name="abstract" ></textarea><br />
                        Content(内容）: <br /><textarea cols="100" rows="10" name="content" ></textarea><br />
                        OriAuthor(原作者): <input type="text" name="oriAuthor" /><br />
                        Author(作者): <input type="text" name="author" /><br />
                        Editor(编辑): <input type="text" name="editor"  /><br />
                        Source(来源): <input type="text" name="source"  /><br />
                        PubTime(发布时间): <input type="text" name="pubTime"  /><br />
                        Picture(上传图片): <input type="file" name="Picture" /><span style="color:red;">图片最大4M，格式：jpg,gif,png,jpeg</span><br />
                        <input type="submit" onclick="ChangeState();">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="bottomDiv"></div>
</div>
<!--<script language="javascript">
    $("#test1").toggle(function(){$("#test").slideDown()},function(){$("#test").slideUp()})
</script>-->
</body>
</html>