
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>运河网后台管理系统 </title>
    <js href="__PUBLIC__/Admin/jquery.js" />
  <!--  <js href="__PUBLIC__/Admin/nav.js" />-->
    <load href="__PUBLIC__/Admin/index.css" />
    <load href="__PUBLIC__/Admin/manage.css" />
    <load href="__PUBLIC__/Home/Css/1.1home_font.css" />
    <script language="JavaScript" >
        function del(id)
        {
            //var del_id=id;
            //document.write(del_id);
            if (confirm('确认删除?'))
            {
                document.location.href="<{:U('News/delete_news')}>?tag=wechat&id="+id;
            }
        }

        function edit(id)
        {
            //var del_id=id;
            //document.write(del_id);
            if (confirm('跳转至编辑窗口？'))
            {
                document.location.href="<{:U('News/edit_editor')}>?tag=wechat&id="+id;
            }
        }
    </script>
</head>
<body>
<div id="mainDiv">
    <div id="centerDiv">
        <div id="left">
            <div id="lhead">管理菜单</div>
            <ul id="nav_manage">
                <li ><a href="<{:U('News/wechat')}>">微说新闻</a></li>
                <li ><a href="<{:U('News/active')}>">动态新闻</a></li>
            </ul>
        </div>
        <div id="right">
            <div id="current">&nbsp;&nbsp;当前位置:新闻 微说新闻 列表</div>
            <div id="form">
                    <table width="100%" style="text-align: center" >
                        <tr id="tr1" >
                            <td width="5%" align="center">编号</td>
                            <td width="15%" align="center">标题</td>
                            <td width="15%" align="center">简介</td>
                            <td width="10%" align="center">操作</td>
                        </tr>
                        <volist name="list" id="vo">
                            <tr>
                                <td align="center" id="newsid"><{$vo.id}></td>
                                <td align="center"><{$vo.title}></td>
                                <td ><span style="text-align: left"><{$vo.abstract}></span></td>
                                <td align="center"><span><input type="submit" value="删除" onclick="del(<{$vo.id}>)"></span>&nbsp;<span><input type="submit" value="编辑" onclick="edit(<{$vo.id}>)"></span></td>
                            </tr>
                        </volist>
                    </table>
                <div style="font-size: 15px;margin-top: 20px">
                    <{$page}>
                    <br />
                    <br />
                    <a href="<{:U('News/add_editor','tag=wechat')}>"><h2>添加一条微说新闻</h2></a>
                </div>
            </div>
        </div>
    </div>
    <div id="bottomDiv"></div>
</div>
<!--<script language="javascript">
    $("#test1").toggle(function(){$("#test").slideDown()},function(){$("#test").slideUp()})
</script>-->
</body>
</html>