<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>

	<load href="__PUBLIC__/Home/Css/volunteer.css"/>
	<load href="__PUBLIC__/Home/Css/css.css"/>

</head>

<body>
	<div class="wrap_box">
 		<div class="wrap">
 			<div class="zyzjy_left_box">
 				<div class="zyzjy_banner"><a href="?"><img border="0" src="__PUBLIC__/Home/Images/volunteer/首页图.jpg" width="798" height="444"></a></div>
 				<div class="height20"></div>
 				<div class="fczs_box">
 					<h2 class="pubtit"><a href="__APP__/Home/Volunteer/volunteer_grace.html" class="more"></a><strong class="f1485a3">风采展示</strong></h2>
 					<ul>
						<volist name="volunteer_grace" id="vo" offset="0" length="6">
 						      <li><a href="#"><img src="__PUBLIC__/<{$vo.imgpath}>"><p><{$vo.title}></p></a></li>
						</volist>
 					</ul>
 				</div>
 			</div>
 			<div class="zyzjy_right_box">
 				<div class="zyzjy_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/volunteer/首页图2.jpg" width="383" height="365"></a></div>
 				<p style="margin:2px 0 0 0;"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/volunteer/join_but.jpg"></a></p>
 				<div class="height20"></div>
 				<h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Volunteer/volunteer_act.html" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">活&nbsp;&nbsp;动</strong></h2>
 				<div class="zyzjy_right_box_con" style="padding:8px 0;height:536px;">
 					<ul class="news_ul1">
						<volist name="volunteer_act" id="vo">
							<li><a href="__APP__/Home/Volunteer/third_act/id/<{$vo.id}>">· <{$vo.title}></a></li>
						</volist>
					</ul>
 				</div>
 			</div>
 			<div class="height20"></div>

 			<div class="zyzjy_box">
 				<div class="zyzjy_box_con fl">
 					<h2 class="pubtit"><a href="__APP__/Home/Volunteer/posts_list/tag/advice" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">良&nbsp;&nbsp;策</strong></h2>
 					<div class="zyzjy_box_con_con">
 						<p><{$volunteer_advice[0].content}>······</p>
 					</div>
 				</div>
 				<div class="zyzjy_box_con fr">
 					<h2 class="pubtit"><a href="__APP__/Home/Volunteer/posts_list/tag/mon" class="more" style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">监&nbsp;&nbsp;测</strong></h2>
 					<div class="zyzjy_box_con_con">

 					</div>
 				</div>
 			</div>
			<div class="fankui_box">
				<h2 class="pubtit"><a href="#" class="more"></a><strong class="f1485a3">反 馈</strong></h2>
				<div class="fankui_box_con_con">
					<p>河南安阳滑县段的卫河作为中国大运河的重要组成部分被列入了保护和申报世界文化遗产的范围。卫河岸....</p>
				</div>
			</div>
		</div>
		<div class="height20"></div>
	</div>

</body>
</html>