<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1200">
	<META name="keywords" content="中国运河网">
	<meta name="description" content="中国运河网">
	<title>志愿者家园</title>
	<load href="__PUBLIC__/Home/Css/volunteer.css"/>
	<load href="__PUBLIC__/Home/Css/css.css"/>
	<!--<load href="./Public/Home/Css/volunteer.css"/>-->
	<!--<link href="/Public/Home/Css/volunteer.css" rel="stylesheet">-->
</head>

<body>
	<div class="wrap_box">
 		<div class="wrap">
 			<div class="zyzjy_left_box">
 				<div class="zyzjy_banner"><a href="?"><img border="0" src="__PUBLIC__/Home/Images/volunteer/ad2.jpg" width="798" height="444"></a></div>
 				<div class="height20"></div>
 				<div class="fczs_box">
 					<h2 class="pubtit"><a href="#" class="more"></a><strong class="f1485a3">风彩展示</strong></h2>
 					<ul>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/volunteer/zstp1.jpg"><p>标题</p></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/volunteer/zstp1.jpg"><p>标题</p></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/volunteer/zstp1.jpg"><p>标题</p></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/volunteer/zstp1.jpg"><p>标题</p></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/volunteer/zstp1.jpg"><p>标题</p></a></li>
 						<li><a href="#"><img src="__PUBLIC__/Home/Images/volunteer/zstp1.jpg"><p>标题</p></a></li>
 					</ul>
 				</div>
 			</div>
 			<div class="zyzjy_right_box">
 				<div class="zyzjy_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/volunteer/zyzjy_r_p1.jpg" width="383" height="365"></a></div>
 				<p style="margin:2px 0 0 0;"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/volunteer/join_but.jpg"></a></p>
 				<div class="height20"></div>
 				<h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong class="f1485a3">活&nbsp;&nbsp;动</strong></h2>
 				<div class="zyzjy_right_box_con" style="padding:8px 0;height:536px;">
 					<ul class="news_ul1">
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城、</a></li>
							<li><a href="#">· 城子崖为第二批国家考古遗址公园立项名单</a></li>
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
							<li><a href="#">· 城子崖为第二批国家考古遗址公园立项名单</a></li>
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城、</a></li>
							<li><a href="#">· 城子崖为第二批国家考古遗址公园立项名单</a></li>
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
							<li><a href="#">· 城子崖为第二批国家考古遗址公园立项名单</a></li>
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城</a></li>
							<li><a href="#">· 南旺枢纽为第二批国家考古遗址公园；临淄齐国故城、</a></li>
							<li><a href="#">· 城子崖为第二批国家考古遗址公园立项名单</a></li>
							<li><a href="#">· 日前国家文物局正式公布山东省曲阜鲁国故城、大运河</a></li>
					</ul>
 				</div>
 			</div>
 			<div class="height20"></div>

 			<div class="zyzjy_box">
 				<div class="zyzjy_box_con fl">
 					<h2 class="pubtit"><a class="more"></a><a href="__APP__/Volunteer/posts_list/tag/advice"><strong class="f1485a3">良&nbsp;&nbsp;策</strong></a></h2>
 					<div class="zyzjy_box_con_con">
 						<p>河南安阳滑县段的卫河作为中国大运河的重要组成部分被列入了保护和申报世界文化遗产的范围。卫河岸边的道口古镇，至今已有近千年的历史。清朝乾......</p>
 					</div>
 				</div>
 				<div class="zyzjy_box_con fr">
 					<h2 class="pubtit"><a href="#" class="more"></a><a href="__APP__/Volunteer/posts_list/tag/mon"><strong class="f1485a3">监&nbsp;&nbsp;测</strong></a></h2>
 					<div class="zyzjy_box_con_con">
 						<p>河南安阳滑县段的卫河作为中国大运河的重要组成部分被列入了保护和申报世界文化遗产的范围。卫河岸边的道口古镇，至今已有近千年的历史。清朝乾......</p>
 					</div>
 				</div>
 			</div>
		</div>
		<div class="height20"></div>
	</div>

</body>
</html>