<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1200">
	<META name="keywords" content="中国运河网">
	<meta name="description" content="中国运河网">
	<title>志愿者家园-良策</title>
	<load href="__PUBLIC__/Home/Css/new_post.css"/>
	<js href="__PUBLIC__/Home/Js/jquery-1.11.3.min.js"></js>
<!--	<script type="text/javascript">
		$(document).ready(function()
		{
			$('#file').blur(function(){
				//alert(111);
				this.post(
						'Volunteer/upload',
						{},
						function(info){
							alert(info);
							$('.uploadinfo').html=1111;
						}
				)
			})
		})
	</script>-->
</head>

<body>
    <div class="nav">
        <a href="__APP__/Volunteer">志愿者家园</a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a href="__APP__/Volunteer/posts_list/tag/<{$tag}>"><{$c_tag}></a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a href="#">发表新帖</a>
    </div>
<!--
    <div class="new_post">
        <a href=""><button class="button">发表新帖</button></a>
    </div>-->
	<div class="post">
		<form name='form'action="__APP__/Volunteer/do_new_post/tag/<{$tag}>" method="post" enctype="multipart/form-data">
			<div class="title">
				<input type="text" name="title" placeholder="标题">
			</div>

			<div class="content">
				<textarea name="content"></textarea>
			</div>

			<!--<div class="att">
				<span><a href="javascript:;" class="file">上传图片<input type="file" name="photo[]" id=""></a></span>
				<div></div>
			</div>-->
			<div class="att">
				<span class="upload">上传图片(最多4张)<br />
					<input  type="file" name="photo[]" ><br />
					<input  type="file" name="photo[]" ><br />
					<input  type="file" name="photo[]" ><br />
					<input  type="file" name="photo[]" >
				</span><br />

				<div></div>
			</div>
			<div class="enter">
					<div class='submit'>
						<a href="javascript:document.form.submit();">
						<span>发布</span>
						</a>
					</div>
			</div>

		</form>
	</div>

</body>
</html>
