<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <META name="keywords" content="中国运河网">
    <meta name="description" content="中国运河网">
    <title>中国运河网</title>
    <load href="__PUBLIC__/Home/Css/show_post.css"/>



</head>
<body>
    <div class="nav">
        <a href="__APP__/Volunteer">志愿者家园</a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a href="__APP__/Volunteer/posts_list/tag/<{$tag}>"><{$c_tag}></a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a href="#"><{$posts[0].title}></a>
    </div>

    <div class="advice" >
        <div class="title">
            <h2 ><strong><{$posts[0].title}></strong></h2>
        </div>

        <div class="info">
            <span>楼主【<{$posts[0].username}>】发表于</span>
            <span><{$posts[0].posttime}></span>
        </div>

        <div class="starter">
            <p class="content">
                <{$posts[0].content}>
            </p>
            <div class="picture_frame">
                <foreach name="posts[0].img_path" item="vo">
                    <div class="picture">
                        <a href="<{$vo}>" target="_blank"><img title="点击查看原图"  src="<{$vo}>"></a>
                    </div>
                </foreach>
            </div>
        </div>

        <div class="reply">
            <p style="font-size: large">网友回帖：</p>
            <volist name="posts" id="vo" offset="1">
                <span class="poster"><{$vo.username}></span>
                <span class="posttime"><{$vo.posttime}>发表</span>
                <span class="floor"><{$vo.fid}>楼</span>
                <div class="message">
                    <{$vo.content}>
                </div>
                <volist name="vo.img_path" id="voo">
                    <div class="picture" >
                        <a href="<{$voo}>" target="_blank"><img  title="点击查看原图" src="<{$voo}>"></a>
                    </div>
                </volist>
                <div class="empty"></div>
            </volist>
        </div>

        <div class="new">
            <p id="new_post">我来跟帖</p>
            <div class="mypost">
                <form name='form' action="__CONTROLLER__/do_new_post/tag/<{$tag}>/tid/<{$posts[0].tid}>" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="title" value="<{$posts[0].title}>">
                    <textarea name='content' class="textarea" placeholder="文明上网，登录发帖"></textarea>
                    <p>	上传图片（最多4张）<br />
					<input  type="file" name="photo[]" ><br />
					<input  type="file" name="photo[]" ><br />
					<input  type="file" name="photo[]" ><br />
					<input  type="file" name="photo[]" >
				   <br />
                    </p>
                    <a href="javascript:document.form.submit();">
                        <div class='submit'>
                            <span>回复</span>
                        </div>
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

