<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>

	<load href="__PUBLIC__/Home/Css/css2.css"/>

</head>

<body>
<div class="wrap_box">
	<div class="wrap">
		<div class="chengshi_left_box">
			<div class="chengshi_left_box_con2">
				<h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">良策</strong></h2>
				<ul class="cs_pic_con1">
					<li><a href=""><img src="__PUBLIC__/<{$volunteer_advice[0].imgpath}>"></a></li>
				</ul>
				<dl class="chengshi_dl">
					<dt><{$volunteer_advice[0].title}></dt>
					<dd><{$volunteer_advice[0].content}>······
					</dd>
				</dl>
			</div>

			<div class="chengshi_left_box_con1 fl">

				<ul class="cs_pic_con1">
					<li><a href=""><img src="__PUBLIC__/<{$volunteer_advice[1].imgpath}>"></a></li>
				</ul>

				<dl class="chengshi_dl">
					<dt><{$volunteer_advice[1].title}></dt>
					<dd><{$volunteer_advice[1].content}>······
					</dd>
				</dl>
			</div>
			<div class="chengshi_left_box_con1 fl">

				<ul class="cs_pic_con1">
					<li><a href=""><img src="__PUBLIC__/<{$volunteer_advice[2].imgpath}>"></a></li>
				</ul>

				<dl class="chengshi_dl">
					<dt><{$volunteer_advice[2].title}></dt>
					<dd><{$volunteer_advice[2].content}>······
					</dd>
				</dl>
			</div>
			<div class="chengshi_left_box_con1 fl">

				<ul class="cs_pic_con1">
					<li><a href=""><img src="__PUBLIC__/<{$volunteer_advice[3].imgpath}>"></a></li>
				</ul>

				<dl class="chengshi_dl">
					<dt><{$volunteer_advice[3].title}></dt>
					<dd><{$volunteer_advice[3].content}>······
					</dd>
				</dl>

				<div class="height20"></div>
				<div class="box">
					<dl class="dl">
						<d><a href="?">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							下一页</a></d>
					</dl>
				</div>

			</div>

		</div>
		<div class="lvyou_right_box">
			<dl class="lvyou_dl">
				<h2 style="margin:8px 0;"><strong class="f1485a3"></strong></h2><br/>
				<p><img src="__PUBLIC__/Home/Images/home/guang/1.jpg" style="width: 327px;height:172px;"></p>
			</dl>
			<br />
			<div class="height20"></div>

			<dl class="lvyou_dl2">
				<h2 style="margin:8px 0;"><strong class="f1485a3"></strong></h2><br/>
				<img src="__PUBLIC__/Home/Images/home/guang/f.jpg" style="width: 327px;height:412px;">
			</dl>
			<div class="height20"></div>
		</div>

		<div class="height20"></div>
	</div>
</div>
</body>
</html>