* {
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
}


html, body{
    height:100%;
    overflow: hidden;

}
html>body{		/*-- for !IE6.0 --*/
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}
body {
    border:8px solid #ffffff;
    background-color: #ffffff;min-width:230px;
}
#mainDiv {
    width: 100%;
    height: 100%;
    padding:0px 0px 25px 0px;;


}
#centerDiv{
    width: 100%;
    height: 100%;
    background-color:#ffff00;
    padding-left:1px;
}
#mainDiv>#centerDiv{		/*-- for !IE6.0 --*/
    width: auto;
    height: auto;
    position: absolute;
    top: 56px;
    left: 0px;
    right: 0px;
    bottom: 20px;

}
#left{
    width:158px;
    height:100%;
    background:url(slide.jpg) repeat-y;
    position:absolute;
    left:0px;
}
#lhead{
    background:url(left-head.jpg) left top no-repeat;
    height:25px;
    font-size:14px;
    color:#FF9933;
    text-align:center;
    line-height:25px;
}
#right{
    width:100%;
    height:100%;
    background:#ffffff;
    position:absolute;
    overflow-y:auto;
    border:1px #003366 solid;
    padding:20px 0 0 10px;
    font-size:12px;
    font-family:"宋体";
}
#centerDiv>#right{
    width:auto;
    height:auto;
    position:absolute;
    top:0px;
    right:0px;
   /* 调整右边框的位置*/
    left:150px;
    bottom:0px;
}
#topDiv{
    width:100%;
    height:56px;

    background:url(head-bg.jpg) repeat-x;
    position:absolute;
    top:0px;
    overflow:hidden;
}
#topDiv ul{
    list-style:none;
    font-size:12px;

    width:100%;
    margin:0;
    padding:0;
}
/*导航条宽度*/
#topDiv ul li{
    float:left;
    width:10%
}
#topDiv ul li a {
    display:block;
    width:100%;
    height:25px;
    line-height:25px;
    background:url(menu-bg.jpg) repeat-x;
    color:#FFFFFF;
    direction:none;
    text-align:center;
    border-bottom:1px #000066 solid;
    border:1px #06597D solid;
}
#tmenu{
    width:100%;
    position:absolute;
    left:12%;
    bottom:0;
    padding-left:15%;
    margin-left:-15%;
}
#current{
    background:#ccc;
    height:50px;
    line-height:50px;
    font-size: large;
    margin:-20px 0 0 -10;
    overflow:hidden;
}
#bottomDiv{
    width:100%;
    height:20px;
    background:url(bottom.jpg) repeat-x;
    position:absolute;
    bottom:0px;
    bottom:-1px;		 /*-- for IE6.0 --*/
}
#left ul{
    list-style:none;
    font-size:12px;
    margin:50px 0 0 8px;
}
#left ul li a{
    display:block;
    width:140px;
    height:25px;
    line-height:25px;
    background:url(menu-bg.jpg) repeat-x;
    color:#FFFFFF;
    direction:none;
    text-align:center;
    border-bottom:1px #000066 solid;
    border:1px #06597D solid;
}
#left ul li a:hover{

    background:url(menu-bg.jpg) 0px 25px;
    color:#99FFCC;
    direction:none;
    text-align:center;
    border-bottom:1px #000066 solid;
}
#form{
    width:80%;
    height:99%;
    margin:0 auto;
    _margin-left:20%;

}
fieldset{
    width:100%;
    margin:20 auto;
    line-height:35px;
    padding-left:20PX;
}
