<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1200">
	<META name="keywords" content="中国运河网">
	<meta name="description" content="中国运河网">
	<title>品牌</title>
	<load href="__PUBLIC__/Home/Css/brand.css"/>
	<load href="__PUBLIC__/Home/Css/css.css"/>

</head>
<body>
<div class="wrap_box">
	<div class="wrap">
		<div class="pinpai_banner"><a href="?"><img border="0" src="__PUBLIC__/Home/Images/home/中国运河网.JPG"></a></div>
		<div class="height20"></div>
		<div class="pp_leftmain_box">
			<div class="pp_ad">
				<p><a href="__APP__/Home/Brand/third_product/id/<{$brand_product[0].id}>">
					<img border="0" src="__PUBLIC__/<{$brand_product[0]['imgpath']}>" width="379" height="227"></a></p>
				<p><a href="__APP__/Home/Brand/third_brand/id/<{$brand_brand[0].id}>">
					<img border="0" src="__PUBLIC__/<{$brand_brand[0]['imgpath']}>" width="379" height="227"></a></p>
				<p><a href="__APP__/Home/Brand/third_brand/id/<{$brand_brand[1].id}>">
					<img border="0" src="__PUBLIC__/<{$brand_brand[1]['imgpath']}>" width="379" height="227"></a></p>
			</div>
			<div class="pp_right_txt">
				<p><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[0].id}>"><h2><{$brand_tradition[0]['title']}>：</h2></a></p>
				<br />
				<p><{$brand_tradition[0]['content']}></p>
				<div class="height20"></div>
				<div class="height20"></div>
				<p><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[1].id}>"><h2><{$brand_tradition[1]['title']}>：</h2></a></p>
				<br />
				<p><{$brand_tradition[1]['content']}></p>
			</div>
			<div class="height20"></div>
			<ul class="pp_ad_ul">
				<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[2].id}>"><img src="__PUBLIC__/<{$brand_tradition[2]['imgpath']}>"></a></li>
				<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[4].id}>"><img src="__PUBLIC__/<{$brand_tradition[4]['imgpath']}>"></a></li>
				<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[5].id}>"><img src="__PUBLIC__/<{$brand_tradition[5]['imgpath']}>"></a></li>
				<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[0].id}>"><img src="__PUBLIC__/<{$brand_tradition[0]['imgpath']}>"></a></li>
			</ul>

		</div>
		<div class="pp_rightside">
			<p><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[3].id}>"><img border="0" src="__PUBLIC__/<{$brand_tradition[3]['imgpath']}>" width="378" height="348"></a></p>
			<div class="pp_rightsidecon pp_border">
				<h2 class="pubtit"><strong class="f1485a3">链接</strong></h2>
				<ul class="news_ul1">
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[0].id}>">1.<{$brand_tradition[0]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[1].id}>">2.<{$brand_tradition[1]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[2].id}>">3.<{$brand_tradition[2]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[3].id}>">4.<{$brand_tradition[3]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[4].id}>">5.<{$brand_tradition[4]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[0].id}>">6.<{$brand_tradition[0]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[1].id}>">7.<{$brand_tradition[1]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[2].id}>">8.<{$brand_tradition[2]['title']}></a></li>
					<li><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[3].id}>">9.<{$brand_tradition[3]['title']}></a></li>
				</ul>
			</div>
			<br />
			<div class="height20"></div>
			<div class="pp_rightsidecon">
				<p><a href="__APP__/Home/Brand/third_tradition/id/<{$brand_tradition[2].id}>"><h2><{$brand_tradition[2]['title']}>：</h2></a></p>
				<p><{$brand_tradition[0]['content']}></p>
			</div>
		</div>

		<div class="height20"></div>

		<div class="height20"></div>

	</div>
	<div class="height20"></div>
</div>
</body>
</html>