<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>运河网后台管理系统 </title>
    <js href="__PUBLIC__/Admin/jquery.js" />
    <js href="__PUBLIC__/Admin/nav.js" />
    <load href="__PUBLIC__/Admin/index.css" />
    <!--<load href="__PUBLIC__/Home/Css/1.1home_font.css" />-->
</head>
<body>
<div id="mainDiv">
    <div id="topDiv">
        <div id="tmenu">
            <!--是否登录的判断-->
            <?php
            $adminname=$_SESSION['adminname'];
            if($adminname)
            {
                echo "<span style='color:red'>欢迎您，管理员".$adminname."</span>&nbsp;&nbsp;&nbsp;";
                    echo "<span style='color:white'><a href='http://localhost/capcc0624/Admin/Index/logout'>退出登录</a></span>";
              }else
             {
                    header("http://localhost/capcc0624/Admin/Index/login.html");

             }
            ?>

            <ul id="nav">
                <li id="nav1"><a href='#'>新闻</a></li>
                <li id="nav2"><a href='#'>旅游</a></li>
                <li id="nav3"><a href='#'>品牌</a></li>
                <li id="nav4"><a href='#'>数字美术馆</a></li>
                <li id="nav5"><a href='#'>活动</a></li>
                <li id="nav6"><a href='#'>志愿者家园</a></li>
            </ul>
        </div>
    </div>
</div>
{__CONTENT__}
</body>
</html>