
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>运河网后台管理系统 </title>
    <js href="__PUBLIC__/Admin/jquery.js" />
    <load href="__PUBLIC__/Admin/index.css" />
    <load href="__PUBLIC__/Home/Css/1.1home_font.css" />
    <js href="__PUBLIC__/Admin/savedInfo.js" />
</head>
<body onbeforeunload="return CheckUnsave();">
<div id="mainDiv">
    <div id="centerDiv">
        <div id="left">
            <div id="lhead">管理菜单</div>
            <ul id="nav_manage">
                <li ><a href="<{:U('Classic/legend')}>">艺术传奇</a></li>
                <li ><a href="<{:U('Classic/market')}>">艺术市场</a></li>
                <li ><a href="<{:U('Classic/comment')}>">艺术评论</a></li>
                <li ><a href="<{:U('Classic/group')}>">当代艺术群</a></li>
            </ul>
        </div>
        <div id="right">
            <div id="current">&nbsp;&nbsp;&nbsp;&nbsp;当前位置:旅游编辑</div>
            <div id="form">
                <form action="__APP__/Admin/Classic/add_classic/tag/<{$tag}>" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <!--相关信息传递过来给各个输入框，点击后内容不消失，需自行修改-->
                        <legend style="font-size: 20px;color:red">编辑<{$tag}></legend>
                        Title(标题): <input type="text" name="title" value='<{$list.title}>'  /><br />
                        Content(内容）: <br /><textarea cols="50" rows="10" name="content" ><{$list.content}></textarea><br />
                        Author(作者): <input type="text" name="author" value='<{$list.author}>'  /><br />
                        <h3 style="color:red">----图片必须重新上传----</h3>
                        Picture(上传图片): <input type="file" name="Picture"  /><span style="color:red;">图片最大4M，格式：jpg,gif,png,jpeg</span><br />
                        <!--隐藏域 用于传递travelid-->
                        <input type="hidden" name="nid" value='<{$list.id}>' />
                        <input type="submit" value="保存修改" onClick="ChangeState();" />
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
    <div id="bottomDiv"></div>
</div>

</body>
</html>