<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<META name="keywords" content="中国运河网">
<meta name="description" content="中国运河网">
<title>中国运河网</title>
	<load href="__PUBLIC__/Home/Css/css2.css"/>

</head>

<body>
<div class="wrap_box">
	<div class="wrap">
		<div class="chengshi_left_box">
			<div class="chengshi_left_box_con2">
				<h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">申遗历程</strong></h2>
				<ul class="cs_pic_con1">
					<li><a href=""><img src="images/tp1.png"></a></li>
				</ul>
				<dl class="chengshi_dl">
					<dt>标题性文字标题性文字标题性文字标题性文字标······</dt>
					<dd>内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容······
					</dd>
				</dl>
			</div>

			<div class="chengshi_left_box_con1 fl">

				<ul class="cs_pic_con1">
					<li><a href=""><img src="images/tp1.png"></a></li>
				</ul>

				<dl class="chengshi_dl">
					<dt>标题性文字标题性文字标题性文字标题性文字标······</dt>
					<dd>内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容······
					</dd>
				</dl>
			</div>
			<div class="chengshi_left_box_con1 fl">

				<ul class="cs_pic_con1">
					<li><a href=""><img src="images/tp1.png"></a></li>
				</ul>

				<dl class="chengshi_dl">
					<dt>标题性文字标题性文字标题性文字标题性文字标······</dt>
					<dd>内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容······
					</dd>
				</dl>
			</div>
			<div class="chengshi_left_box_con1 fl">

				<ul class="cs_pic_con1">
					<li><a href=""><img src="images/tp1.png"></a></li>
				</ul>

				<dl class="chengshi_dl">
					<dt>标题性文字标题性文字标题性文字标题性文字标······</dt>
					<dd>内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内
						内容内容内容内容内容内容内容内容内容内容内容内容内容······
					</dd>
				</dl>

				<div class="height20"></div>
				<div class="box">
					<dl class="dl">
						<d><a href="?">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							下一页</a></d>
					</dl>
				</div>

			</div>

		</div>
		<div class="lvyou_right_box">

			<dl class="lvyou_dl">
				<h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">相关连接/广告栏</strong></h2>
				<dt>·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性
				</dt>
			</dl>
			<br />
			<div class="height20"></div>

			<dl class="lvyou_dl2">
				<h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">相关连接/广告栏</strong></h2>
				<dt>·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性<br/>
					·标题性或主题性文字标题性或主题性文字标题性
				</dt>
			</dl>
			<div class="height20"></div>
		</div>

		<div class="height20"></div>
	</div>
</div>
</body>
</html>