<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <load href="__PUBLIC__/Home/Css/inscription.css"/>
    <load href="__PUBLIC__/Home/Css/css.css"/>
    <js href="__PUBLIC__/Home/Js/show_pictures.js" />
</head>
<body>
<div class="wrap_box">
    <div class="wrap">
        <div class="siyi_left_box">
            <div class="siyi_left_box_con">
                <div class="siyi_left_box_con1 fl">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Heritage/heritage_organization.html" class="more"
                                                                style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                            class="f1485a3">世界遗产组织</strong></h2>
                    <dl class="r_news_dl3">
                        <dt><img src="__PUBLIC__/<{$heritage_organization[0].imgpath}>"></dt>
                        <dd>
                            <h3><a href="__APP__/Home/Heritage/third_organization/id/<{$heritage_organization[0].id}>"><{$heritage_organization[0].title}></a></h3>

                            <p><{$heritage_organization[0].content}></p></dd>
                    </dl>
                </div>
                <div class="siyi_left_box_con1 fr">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Heritage/heritage_treaty.html" class="more"
                                                                style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                            class="f1485a3">组织公约</strong></h2>
                    <dl class="r_news_dl3">
                        <dt><a href="#"><img src="__PUBLIC__/<{$heritage_treaty[0].imgpath}>"></a></dt>
                        <dd>
                            <h3><a href="__APP__/Home/Heritage/third_treaty/id/<{$heritage_treaty[0].id}>"><{$heritage_treaty[0].title}></a></h3>

                            <p><{$heritage_treaty[0].content}></p></dd>
                    </dl>
                </div>
            </div>
            <div class="height20"></div>
            <div class="siyi_left_box_con">
                <div class="siyi_left_box_con1 fl">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Heritage/heritage_project.html" class="more"
                                                                style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                            class="f1485a3">中国世遗项目</strong></h2>
                    <ul class="lv_pic_con1">
                        <li><a href=""><img src="__PUBLIC__/<{$heritage_project[0].imgpath}>"></a>

                            <p><{$heritage_project[0].address}></p></li>
                        <li><a href=""><img src="__PUBLIC__/<{$heritage_project[1].imgpath}>"></a>

                            <p><{$heritage_project[1].address}></p>
                        </li>
                        <li><a href=""><img src="__PUBLIC__/<{$heritage_project[2].imgpath}>"></a>

                            <p><{$heritage_project[2].address}></p>
                        </li>
                    </ul>
                    <div class="clearfloat"></div>
                    <dl class="lvyou_dl">
                        <dt><{$heritage_project[0].address}></dt>
                        <dd><{$heritage_project[0].content}></dd>
                    </dl>
                    <dl class="lvyou_dl">
                        <dt><{$heritage_project[1].address}></dt>
                        <dd><{$heritage_project[1].content}></dd>
                    </dl>
                    <dl class="lvyou_dl">
                        <dt><{$heritage_project[2].address}></dt>
                        <dd><{$heritage_project[2].content}></dd>
                    </dl>

                </div>
                <div class="lvyou_left_box_con1 fr">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/Heritage/heritage_apply.html" class="more"
                                                                style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                            class="f1485a3">申遗历程</strong></h2>

                    <div class="lvyou_3p_box">
                        <ul>
                            <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_apply[0]['imgpath']}>"></a></li>
                            <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_apply[1]['imgpath']}>"></a></li>
                        </ul>
                        <div class="lvyou_3p_box_r"><a href="#"><img border="0"
                                                                     src="__PUBLIC__/<{$heritage_apply[2]['imgpath']}>"></a>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                    <p><{$heritage_apply[0]['content']}></p>
                </div>
            </div>
            <div class="height20"></div>
            <div class="siyi_left_box_con">
                <h2 class="pubtit" style="margin:5px 0;"><a href="__APP__/Home/Heritage/heritage_institution.html" class="more"
                                                            style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                        class="f1485a3">研究机构</strong></h2>
                <ul class="sy_pic_ul">
                    <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_institution[0]['imgpath']}>"></a></li>
                    <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_institution[1]['imgpath']}>"></a></li>
                    <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_institution[2]['imgpath']}>"></a></li>
                    <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_institution[3]['imgpath']}>"></a></li>
                </ul>
                <div class="height10"></div>
                <li><{$heritage_institution[0]['title']}></li>
                <li><{$heritage_institution[1]['title']}></li>
                <li><{$heritage_institution[2]['title']}></li>
                <li><{$heritage_institution[3]['title']}></li>

                <div class="height10"></div>
            </div>
            <div class="height20"></div>
            <div class="siyi_left_box_con">
                <h2 class="pubtit" style="margin:5px 0;"><a href="__APP__/Home/Heritage/heritage_media.html" class="more"
                                                            style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong
                        class="f1485a3">主要媒体</strong></h2>
                <!--滚动-->
                <div class="jiantou fl" id="button1"><a href="?">
                    <input onClick="left_roll_img()" type="image" src="__PUBLIC__/Home/Images/heritage/z.jpg" width="27" height="47"></a>
                </div>
                <div class="jiantou fr" id="button2"><a href="?">
                    <input onClick="right_roll_img()" type="image" src="__PUBLIC__/Home/Images/heritage/r.jpg" width="27" height="47"></a>
                </div>
                <div id="page_roll" style="float:left; overflow:hidden; height:145px; width:680px;margin-left:20px;">
                    <div  id="page_roll_demo">
                        <div id="page_roll_img_1">
                            <!--<for start="1" end="8">-->
                                <!--<img id="small_img_<{$i}>" onClick="setimg(src)" src="__PUBLIC__/Home/Images/images_show/<{$i}>.jpg" width="180" height="145"/>-->
                            <!--</for>-->
                            <ul class="sy_pic_ul1">
                                <li><a href="#"><img src="__PUBLIC__/Home/Images/home/2.JPG"></a></li>
                                <li><a href="#"><img src="__PUBLIC__/<{$heritage_apply[1]['imgpath']}>"></a></li>
                                <li><a href="#"><img src="__PUBLIC__/Home/Images/home/2.JPG"></a></li>
                                <li><a href="#"><img src="__PUBLIC__/<{$heritage_apply[1]['imgpath']}>"></a></li>
                                <li><a href="#"><img src="__PUBLIC__/Home/Images/home/2.JPG"></a></li>
                                <li><a href="#"><img src="__PUBLIC__/<{$heritage_apply[1]['imgpath']}>"></a></li>
                            </ul>
                        </div>
                        <div id="page_roll_img_2" style="visibility:hidden; width:800px;">
                        </div>
                    </div>
                </div>

                <script>
                    var speed_1=40;
                    var tab=document.getElementById("page_roll");
                    var tab1=document.getElementById("page_roll_img_1");
                    var tab2=document.getElementById("page_roll_img_2");
                    function Marquee_1(){
                        if(tab2.offsetWidth-tab.scrollLeft<=0)
                            tab.scrollLeft-=tab1.offsetWidth;
                        else{
                            tab.scrollLeft++;
                        }
                    }
                    var MyMar_1=setInterval(Marquee_1,speed_1);
                    tab.onmouseover=function() {clearInterval(MyMar_1)};
                    tab.onmouseout=function() {MyMar_1=setInterval(Marquee_1,speed_1)};
                    button2.onmouseover=function() {clearInterval(MyMar_1);}
                    button2.onmouseout=function() {MyMar_1=setInterval(Marquee_1,speed_1);}
                    button1.onmouseover=function() {clearInterval(MyMar_1);}
                    button1.onmouseout=function() {MyMar_1=setInterval(Marquee_1,speed_1);}
                </script>
            </div>
        </div>

        <div class="siyi_right_box">
            <div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/heritage/syp7.jpg"></a>
            </div>
            <div class="height10"></div>
            <div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/heritage/syp7.jpg"></a>
            </div>
        </div>
        <div class="height20"></div>
    </div>
    <div class="height20"></div>
</div>
</body>
</html>