<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1200">
    <META name="keywords" content="中国运河网">
    <meta name="description" content="中国运河网">
    <title>世遗</title>
    <load href="__PUBLIC__/Home/Css/heritage.css"/>
    <load href="__PUBLIC__/Home/Css/css.css"/>

</head>
<body>
<div class="wrap_box">
    <div class="wrap">
        <div class="siyi_left_box">
            <div class="siyi_left_box_con">
                <div class="siyi_left_box_con1 fl">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong
                            class="f1485a3">世界遗产组织</strong></h2>
                    <dl class="r_news_dl3">
                        <dt><a href="#"><img src="__PUBLIC__/<{$heritage_organization[0].imgpath}>"></a></dt>
                        <dd>
                            <h3><a href="#"><{$heritage_organization[0].title}></a></h3>
                            <p><{$heritage_organization[0].content}>......</p></dd>
                    </dl>
                </div>
                <div class="siyi_left_box_con1 fr">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong
                            class="f1485a3">组织公约</strong></h2>
                    <dl class="r_news_dl3">
                        <dt><a href="#"><img src="__PUBLIC__/<{$heritage_treaty[0].imgpath}>"></a></dt>
                        <dd>
                            <h3><a href="#"><{$heritage_treaty[0].title}></a></h3>

                            <p><{$heritage_treaty[0].content}>......</p></dd>
                    </dl>
                </div>
            </div>
            <div class="height20"></div>
            <div class="siyi_left_box_con">
                <div class="siyi_left_box_con1 fl">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong
                            class="f1485a3">中国世遗项目</strong></h2>
                    <ul class="lv_pic_con1">
                        <li><a href=""><img src="__PUBLIC__/<{$heritage_project[0].imgpath}>"></a>

                            <p><{$heritage_project[0].address}></p></li>
                        <li><a href=""><img src="__PUBLIC__/<{$heritage_project[1].imgpath}>"></a>

                            <p><{$heritage_project[1].address}></p>
                        </li>
                        <li><a href=""><img src="__PUBLIC__/<{$heritage_project[2].imgpath}>"></a>

                            <p><{$heritage_project[2].address}></p>
                        </li>
                    </ul>
                    <div class="clearfloat"></div>
                    <dl class="lvyou_dl">
                        <dt><{$heritage_project[0].address}></dt>
                        <dd><{$heritage_project[0].content}>......</dd>
                    </dl>
                    <dl class="lvyou_dl">
                        <dt><{$heritage_project[1].address}></dt>
                        <dd><{$heritage_project[1].content}>......</dd>
                    </dl>
                    <dl class="lvyou_dl">
                        <dt><{$heritage_project[2].address}></dt>
                        <dd><{$heritage_project[2].content}>......</dd>
                    </dl>

                </div>
                <div class="lvyou_left_box_con1 fr">
                    <h2 class="pubtit" style="margin:8px 0;"><a href="#" class="more"></a><strong
                            class="f1485a3">申遗历程</strong></h2>

                    <div class="lvyou_3p_box">
                        <ul>
                            <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_apply[0]['imgpath']}>"></a></li>
                            <li><a href="#"><img border="0" src="__PUBLIC__/<{$heritage_apply[1]['imgpath']}>"></a></li>
                        </ul>
                        <div class="lvyou_3p_box_r"><a href="#"><img border="0"
                                                                     src="__PUBLIC__/<{$heritage_apply[2]['imgpath']}>"></a>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                    <p><{$heritage_apply[0]['content']}>......</p>
                </div>
            </div>
            <div class="height20"></div>
            <div class="siyi_left_box_con">
                <h2 class="pubtit" style="margin:5px 0;"><a href="#" class="more"></a><strong
                        class="f1485a3">研究机构</strong></h2>
                <ul class="sy_pic_ul">
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/heritage/syp0.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/heritage/syp0.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/heritage/syp0.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/heritage/syp0.jpg"></a></li>
                </ul>
                <div class="height10"></div>
                <p><{$heritage_institution[1]['title']}></p>
                <p><{$heritage_institution[2]['title']}></p>
                <p><{$heritage_institution[3]['title']}></p>
                <p><{$heritage_institution[4]['title']}></p>
                <div class="height10"></div>
            </div>
            <div class="height20"></div>
            <div class="siyi_left_box_con">
                <h2 class="pubtit" style="margin:5px 0;"><a href="#" class="more"></a><strong
                        class="f1485a3">主要媒体</strong></h2>

                <div class="jiantou fl"><a href="?">
                    <img border="0" src="__PUBLIC__/Home/Images/heritage/z.jpg" width="27" height="47"></a></div>
                <div class="jiantou fr"><a href="?">
                    <img border="0" src="__PUBLIC__/Home/Images/heritage/r.jpg" width="27" height="47"></a></div>
                <ul class="sy_pic_ul1">
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/heritage/syp0.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/heritage/syp0.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/Home/Images/heritage/syp0.jpg"></a></li>
                </ul>
            </div>
        </div>


        <div class="siyi_right_box">
            <div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/heritage/syp7.jpg"></a>
            </div>
            <div class="height10"></div>
            <div class="siyi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/heritage/syp7.jpg"></a>
            </div>
        </div>
        <div class="height20"></div>
    </div>
    <div class="height20"></div>
</div>
</body>
</html>