#home_page_roll {
    background: #FFF;
    overflow:hidden;
    border: 0px dashed #CCC;
    width: 800px;
}
#home_page_roll img {
    border: 0px solid #F2F2F2;
}
#home_page_roll_demo {
    float: left;
    width: 800%;
}
#home_page_roll_img_1 {
    float: left;
}
#home_page_roll_img_2 {
    float: left;
}