* {margin:0; padding:0;}
body { background:url(../images/bg.jpg) 0 0 repeat-x #F7F7F7;margin:0px;font-family:"Microsoft Yahei","微软雅黑",Verdana;font-size:13px;color:#333; }
ul {list-style:none;}
TD { COLOR: #404040; font-family:Verdana; FONT-SIZE: 12px;}
hr {border-bottom:1px dotted #a6a5a5;background:none;border-top:none;border-left:none;border-right:none;clear:both;padding:5px 0;margin:0 auto;width:99%;}
A:link {color: #333;text-decoration: none;}
A:visited {color: #333;text-decoration: none;}
A:hover {color: #c60000;text-decoration: none;}
img {border:none;}
.clearfloat {clear:both;height:0px;font-size:1px;line-height:0px;}
.height20 {clear:both;height:20px;}
.height10 {clear:both;height:10px;}
.header_box {width:100%;overflow:hidden;background:#f7f7f7;}
.wrap_box {width:100%;overflow:hidden;background:#fff;}
.wrap {width:1200px;margin:0 auto;}
.fl {float:left;}
.fr {float:right;}

.headnav {width:100%;height:28px;background:#b30d19;}
.header {width:1200px;padding:0;margin:0 auto;}
.topfav {width:1200px;height:28px;line-height:28px;text-align:right;color:#fff;margin:0 auto;}
.topfav a {color:#fff;padding:0 10px;}
.logo {width:501px;height:174px;background:url(../images/logo.jpg) 0 50% no-repeat;}
.logo a {display:block;width:500px;height:174px;}
.search {width:228px;height:27px;background:url(../images/searchbg.jpg) 0 63px no-repeat;padding:63px 0 0 0;}
.search dl {margin:0;padding:0}
.search dl dt {float:left;width:200px;height:27px;}
.search dl dt input {width:200px;height:27px;line-height:27px;border:none;background:none;}
.search dl dd {float:right;width:28px;height:27px;}
.search dl dd input {width:28px;height:27px;border:none;text-indent:-999em;background:none;}
.headcenter {width:402px;height:99px;background:url(../images/headcenter.jpg) 0 36px no-repeat;margin:0 0 0 516px;padding:36px 0 0 0;}

.nav {width:1200px;height:44px;margin:0 auto;padding:0;background:#e4e4e4;border:1px solid #bebebe;}
.nav ul {margin:0;padding:0;}
.nav ul li {float:left;height:44px;margin:0;font-size:16px;font-weight:bold;}
.nav ul li a {display:block;width:130px;height:44px;line-height:44px;text-align:center;color:#333;}
.nav ul .ge {width:1px;height:44px;background:#bebebe;}
.nav ul li a:hover,.nav ul li .navcur {background:#f7f7f7;}

.pubtit {width:100%;height:40px;line-height:40px;font-weight:normal;}
.pubtit strong {padding:0 30px 0 10px;font-size:25px;font-weight:normal;}
.more {display:block;float:right;width:92px;height:15px;background:url(../images/more.jpg) 0 50% no-repeat;margin:10px 0 0 0;padding:0;}
.pubtit a {color:#469bb7;font-size:14px;padding:0 5px;font-weight:normal;}
.f1485a3 {color:#1485a3;}


.cs_pic_box {width:385px;padding:0 5px;}
.cs_pic_con1 {margin:0;padding:5px 0 0 0;}
.cs_pic_con1 li {float:left;width:122px;height:146px;text-align:center;margin:0 2px;}
.cs_pic_con1 li img {width:122px;height:116px;}
.cs_pic_con1 li p {line-height:30px;}
.cs_pic_con2 {margin:0;padding:5px 0 0 0;}
.cs_pic_con2 li {float:left;width:188px;height:146px;text-align:center;margin:0 2px;}
.cs_pic_con2 li img {width:188px;height:116px;}
.cs_pic_con2 li p {line-height:30px;}


/*城市*/

.chengshi_left_box {float:left;796px;}
.chengshi_left_box_con {width:784px;border:1px solid #b3b3b3;overflow:hidden;padding:5px;}
.chengshi_left_box_con1 {width:380px;padding:0 5px;}
.chengshi_left_box_con1 p {color:#555;line-height:2;font-size:14px;}

.chengshi_dl {width:380px;padding:5px 0;margin:5px 0;overflow:hidden;border-bottom:1px dotted #ccc;}
.chengshi_dl dt {height:25px;line-height:25px;color:#555;}
.chengshi_dl dd {line-height:25px;color:#555;}

.chengshi_gonglv_ul {padding:0;margin:0;width:796px;float:left;}
.chengshi_gonglv_ul li {float:left;width:250px;height:186px;margin:5px;}
.chengshi_gonglv_ul li img {width:250px;height:186px;}

.chengshi_luxian_p {float:right;width:186px;line-height:2.5;}
.chengshi_luxian_p span {color:#555;}
.chengshi_luxian_p strong {font-size:18px;color:#333;font-weight:normal;}

.chengshi_right_box {float:right;width:331px;}
.chengshi_right_box_con {width:329px;overflow:hidden;}

.chengshi_3p_box {width:370px;padding:5px;margin:0 auto;}
.chengshi_3p_box ul {float:left;width:182px;}
.chengshi_3p_box ul li {width:182px;height:117px;margin:0 0 11px 0}
.chengshi_3p_box ul li img {width:180px;height:115px;}
.chengshi_3p_box_r {float:right;width:180px;}
.chengshi_3p_box_r img {width:182px;height:243px;}

/*城市*/


.footer {width:1200px;height:40px;margin:0 auto;padding:10px 0 0 0;text-align:center;line-height:2;color:#555;background:#f7f7f7;}
.footer p a {color:#555;padding:0 5px;}
.copyright {width:100%;height:95px;background:#b30d19;}
.copyright p {padding:3px 0 0 0;text-align:center;color:#fff;font-size:14px;line-height:2;}