* {margin:0; padding:0;}
body {margin:0px;font-family:"Microsoft Yahei","΢���ź�",Verdana;font-size:13px;color:#333; }
ul {list-style:none;}
TD { COLOR: #404040; font-family:Verdana; FONT-SIZE: 12px;}
hr {border-bottom:1px dotted #a6a5a5;background:none;border-top:none;border-left:none;border-right:none;clear:both;padding:5px 0;margin:0 auto;width:99%;}
A:link {color: #333;text-decoration: none;}
A:visited {color: #333;text-decoration: none;}
A:hover {color: #c60000;text-decoration: none;}
img {border:none;}
.clearfloat {clear:both;height:0px;font-size:1px;line-height:0px;}


.nav{width:63%;background-color:#91bb9e;margin-top:0; line-height:40px; font-size: 18px;font-family:微软雅黑 }

.post{width: 63%;margin:10px auto;border: groove;padding-top: 10px}
.title{text-align: center}
.title input{width:80%;height: 30px;font-size: large;margin:0 auto}
.content{width:100%;text-align: center;}
.content textarea{ width:90%;height:400px;margin-top: 10px}
.att{width:90%;margin-top:10px;margin-left:55px;}



.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.enter{
    width:80%;
    margin: 5px auto;
    height: 50px;

}


.submit{
    width:75px;
    height:40px;
    line-height: 40px;
     margin: 5px auto;
    background: url('../Images/volunteer/submit.png') no-repeat ;
    text-align: center;
}

.submit span{
    font-size:large;
    color:#c9302c;
}


