<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>中国运河网</title>
	<load href="__PUBLIC__/Home/Css/css3.css"/>

</head>
<body>
	<div class="wrap_box">
	<div class="wrap">
		<div class="left_box">
			<div class="left_box_con">
				<div class="left_box_con1 fl">
					<h2 class="pubtit" style="margin:0px 0;"><strong class="f1485a3">非物质文化遗产保护</strong></h2>
					<ul class="pic_con1">
						<volist name='list' id='list'>
							<li><if condition="$i eq count($list)"></if><a href=""><img src="__PUBLIC__/<{$list.imgpath}>" ></a><p><{$list['title']}></p></li>
						</volist>
					</ul>
					<div class="clearfloat"></div>
				</div>

			</div>
			<div class="height20"></div>
			<div class="box">
				<dl class="dl" align="center";>
					<d><{$page}></d>
				</dl>
			</div>


		</div>


		<div class="lvyou_right_box">

			<dl class="lvyou_dl">
				<h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">相关连接/广告栏</strong></h2>
				<dt>·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性</dt>
			</dl>
			<br />
			<div class="height20"></div>

			<dl class="lvyou_dl2">
				<h2 class="pubtit" style="margin:8px 0;"><strong class="f1485a3">相关连接/广告栏</strong></h2>
				<dt>·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性<br />
					·标题性或主题性文字标题性或主题性文字标题性</dt></dl>
		</div>
		<div class="height20"></div>



	</div>
	<div class="height20"></div>
</div>
</body>
</html>