<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>

	<load href="__PUBLIC__/Home/Css/city.css"/>
	<load href="__PUBLIC__/Home/Css/css.css"/>

</head>
<body>
<div class="wrap_box">
	<div class="wrap">
		<div class="chengshi_left_box">
			<div class="chengshi_left_box_con">
				<div class="chengshi_left_box_con1 fl">
					<h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/City/city_figure.html" class="more"
																style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">运河人物</strong></h2>

					<ul class="cs_pic_con1">
						<foreach name="city_figure" item="vo">
							<li><a href="__APP__/Home/City/third_figure/id/<{$vo.id}>"><img src="__PUBLIC__/<{$vo.imgpath}>" ></a><p><{$vo.name}></p></li>
						</foreach>
					</ul>

					<div class="clearfloat"></div>
						<foreach name="city_figure" item="vo">
						<dl class="chengshi_dl">
							<dt><a href="__APP__/Home/City/third_figure/id/<{$vo.id}>"><strong><{$vo.name}></strong></a></dt>
							<dd><{$vo.content}><a href="__APP__/Home/City/third_figure/id/<{$vo.id}>" style="color: #0066cc">
								...详细&gt;&gt;</a></dd>
						</dl>
						</foreach>
				</div>
				<div class="chengshi_left_box_con1 fr">
					<h2 class="pubtit" style="margin:8px 0;"><a href="__APP__/Home/City/city_protect.html" class="more"
																style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">非遗保护</strong></h2>
					<div class="chengshi_3p_box">
						<ul>
							<li><a href="__APP__/Home/City/third_protect/id/<{$city_protect[0].id}>"><img src="__PUBLIC__/<{$city_protect[0].imgpath}>" ></a></li>
							<li><a href="__APP__/Home/City/third_protect/id/<{$city_protect[1].id}>"><img src="__PUBLIC__/<{$city_protect[1].imgpath}>" ></a></li>
						</ul>
						<div class="chengshi_3p_box_r"><a href="__APP__/Home/City/third_protect/id/<{$city_protect[2].id}>"><img src="__PUBLIC__/<{$city_protect[2].imgpath}>"></a></div>
					</div>
					<div class="clearfloat"></div>
					<p><{$city_protect[0].content}><a href="__APP__/Home/City/third_protect/id/<{$city_protect[0].id}>" style="color: #0066cc">
						...详细&gt;&gt;</a></p>
					<hr></hr>
					<p><{$city_protect[1].content}><a href="__APP__/Home/City/third_protect/id/<{$city_protect[1].id}>" style="color: #0066cc">
						...详细&gt;&gt;</a></p>
				</div>
			</div>
			<div class="height20"></div>
			<div class="chengshi_left_box_con">
				<h2 class="pubtit" style="margin:5px 0;"><a href="__APP__/Home/City/city_canal.html" class="more"
															style="background: url('__PUBLIC__/Home/Images/home/more.jpg') 0 50% no-repeat;margin:10px 0 0 0;padding:0;"></a><strong class="f1485a3">城市</strong></h2>
				<ul class="chengshi_gonglv_ul">
					<foreach name="city_canal" item="vo">
						<li><a href="__APP__/Home/City/third_canal/id/<{$vo.id}>"><img src="__PUBLIC__/<{$vo.imgpath}>"></a></li>
					</foreach>
					<!--<li><a href="__APP__/Home/City/third_canal/id/<{$city_canal[0].id}>"><img src="__PUBLIC__/<{$city_canal[0].imgpath}>"></a></li>
					<li><a href="__APP__/Home/City/third_canal/id/<{$city_canal[1].id}>"><img src="__PUBLIC__/<{$city_canal[1].imgpath}>"></a></li>
					<li><a href="__APP__/Home/City/third_canal/id/<{$city_canal[2].id}>"><img src="__PUBLIC__/<{$city_canal[2].imgpath}>"></a></li>
					<li><a href="__APP__/Home/City/third_canal/id/<{$city_canal[3].id}>"><img src="__PUBLIC__/<{$city_canal[3].imgpath}>"></a></li>
					<li><a href="__APP__/Home/City/third_canal/id/<{$city_canal[4].id}>"><img src="__PUBLIC__/<{$city_canal[4].imgpath}>"></a></li>
					<li><a href="__APP__/Home/City/third_canal/id/<{$city_canal[5].id}>"><img src="__PUBLIC__/<{$city_canal[5].imgpath}>"></a></li>-->
				</ul>
			</div>
		</div>


		<div class="chengshi_right_box">
			<div class="chengshi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/home/guang/c.jpg"></a></div>
			<div class="height10"></div>
			<div class="chengshi_right_box_con"><a href="#"><img border="0" src="__PUBLIC__/Home/Images/home/guang/d.jpg"></a></div>
		</div>
		<div class="height20"></div>


	</div>
	<div class="height20"></div>
</div>
</body>
</html>