<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<load href="__PUBLIC__/Home/Css/third.css"/>
</head>
<body>
	<div class="wrap_box">
 		<div class="wrap">
 			<div class="left_box">
 				<div class="left_box_con">
 					<div class="left_box_con1 fl">
 						<h2 class="pubtit" style="margin:0px 0;"><strong class="f1485a3">非物质文化遗产保护</strong></h2>
						<p><{$vo.title}></p>
						<br />
                        <p1> <{$vo.inserttime}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <{$vo.author}></p1><br />
						<div>
							<foreach name="vo.content" item="voo">
								<li style="text-indent: 2em">
									<{$voo}>
								</li>
							</foreach>
						</div>
					  <ul class="pic_con1">
 							<li><a href=""><img src="__PUBLIC__/<{$vo.imgpath}>"></a>
 							<p3><{$vo.title}></p3></li>
                            <!--<li><a href=""><img src="__PUBLIC__/<{$activity_activity.imgpath}>" ></a><p3><{$activity_activity.title}></p3>-->
                            <!--</li>-->
					  </ul>
 						<div class="clearfloat"></div>
 					</div>
 				</div>
				<div class="height20"></div>
 				<div class="height20"></div>
                <div class="box1">
					<dl class="dl" align="center";>
						<!--<d><{$page}></d>-->
					</dl>
 				</div>
 			</div>


			<div class="lvyou_right_box">
				<dl class="lvyou_dl">
					<h2 style="margin:8px 0;"><strong class="f1485a3"></strong></h2><br/>
					<p><img src="__PUBLIC__/Home/Images/home/guang/3.jpg" style="width: 327px;height:172px;"></p>
				</dl>
				<br />
				<div class="height20"></div>

				<dl class="lvyou_dl2">
					<h2 style="margin:8px 0;"><strong class="f1485a3"></strong></h2><br/>
					<img src="__PUBLIC__/Home/Images/home/guang/f.jpg" style="width: 327px;height:412px;">
				</dl>
				<div class="height20"></div>
			</div>
 			<div class="height20"></div>
 			
 			
 			
		</div>
		<div class="height20"></div>
	</div>
</body>
</html>