<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-Type" content="text/html" charset="utf-8">
    <title></title>
</head>
<body>
<div id="mainDiv">
    <div id="centerDiv">
        <div id="left">
            <div id="lhead">管理菜单</div>
            <ul id="nav_manage">
                <volist name="list" id="vo">
                    <li ><a href="__APP__/Admin/Ad/ad_position/positon/<{$vo}>"><{$vo}></a></li>
                </volist>
            </ul>
        </div>
        <div id="right">
            <div id="current">&nbsp;&nbsp;&nbsp;&nbsp;当前位置:添加广告</div>
            <div id="form">
                <form action="__APP__/Admin/Ad/add_ad" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend style="font-size: 20px;color:red">添加广告</legend>
                        广告位置：
                        <select class="link_age" change-select="link_tow" name="name1">
                            <!--
                            select中的 option 的结构统一如下：
                             -->
                            <option value="1">typeName</option>
                            <option value="2">typeName2</option>
                        </select>
                        <select class="link_age link_tow" change-select="link_three" name="name2"></select>
                        <select class="link_age link_three" change-select="link_four" name="name3"></select>
                        <select class="link_four" name="name4"></select>
                        Picture(上传图片): <input type="file" name="Picture" /><span style="color:red;">图片最大4M，格式：jpg,gif,png,jpeg</span><br />
                        <input type="submit" >
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="bottomDiv"></div>
</div>

</body>
</html>