<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-Type" content="text/html" charset="utf-8">
    <title></title>
</head>
<body>
<div id="mainDiv">
    <div id="centerDiv">
        <div id="left">
            <div id="lhead">管理菜单</div>
            <ul id="nav_manage">
                <li ><a href="<{:U('Admin/Ad/show_ad_list/tag/mainpage')}>">首页腰部广告</a></li>
                <li ><a href="<{:U('Ad/show_ad_list/tag/news')}>">新闻页面广告</a></li>
                <li ><a href="<{:U('Ad/show_ad_list/tag/heritage')}>">世遗页面广告</a></li>
                <li ><a href="<{:U('Ad/show_ad_list/tag/city')}>">城市页面广告</a></li>
                <li ><a href="<{:U('Ad/show_ad_list/tag/travel')}>">旅游页面广告</a></li>
                <li ><a href="<{:U('Ad/show_ad_list/tag/brand')}>">品牌页面广告</a></li>
                <li ><a href="<{:U('Ad/show_ad_list/tag/dgmuseum')}>">数字美术馆页面广告</a></li>
                <li ><a href="<{:U('Ad/show_ad_list/tag/active')}>">活动页面广告</a></li>
            </ul>
        </div>
        <div id="right">
            <div id="current">&nbsp;&nbsp;&nbsp;&nbsp;当前位置:品牌编辑首页 &nbsp;&nbsp; <sapn style="color:red">点击<-左侧按钮开始操作！</sapn> </div>
        </div>
    </div>
</div>
</body>
</html>